{{CATEGORY_PANEL}}
<div class="page-margin video-player-page video-sharing-page" >
    <div class="owl-carousel pl_feat_vid_slider owl-theme" style="display: block !important;">
        <?php if (!empty($pt->videos_array)) {
        foreach ($pt->videos_array as $key => $video_slide) {
        ?>
        <div class="pl_feat_vid_slide">
            <div class="pt_fv_blur_img">
                <div style="background-image: url('<?php echo $video_slide->thumbnail; ?>');filter: blur(12px);"></div>
            </div>
            <div class="container">
                <div class="top-video pl_feat_vid_slide_nav">
                    <div class="row">
                        <div class="pt_featured_video" style="width: 100%;padding: 0">
                            <h4 title="{{LANG featured_video}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-award">
                                    <circle cx="12" cy="8" r="7"></circle>
                                    <polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline>
                                </svg>
                            </h4>
                            <div class="video-player">
                                <a href="<?php echo($video_slide->url) ?>"
                                   data-load="?link1=watch&id=<?php echo(PT_Slug($video_slide->title, $video_slide->video_id)) ?>">
                                    <div class="thumbnail_holder"><img src="<?php echo $video_slide->thumbnail; ?>">
                                    </div>
                                </a>
                                <div class="video-title">
                                    <input type="hidden" value="<?php echo($video_slide->id) ?>" id="video-id">
                                    <div class="video_title_combo">
                                        <div>
                                            <div class="video-big-title">
                                                <a href="<?php echo($video_slide->url) ?>"
                                                   data-load="?link1=watch&id=<?php echo(PT_Slug($video_slide->title, $video_slide->video_id)) ?>"><?php echo $video_slide->
                                                    title; ?></a>
                                            </div>
                                            <div class="publisher-element">
                                                <!--<div class="publisher-avatar pull-left hide-in-mobile-720">
                                                    <a href="{{USER url}}" data-load="?link1=timeline&id={{USER username}}"><img src="{{USER avatar}}" alt="{{USER name}}"></a>
                                                </div>-->
                                                <div class="publisher-name">
                                                    <a href="<?php echo $video_slide->owner->url; ?>"
                                                       data-load="?link1=timeline&id=<?php echo $video_slide->owner->username; ?>"><?php echo $video_slide->
                                                        owner->name_v; ?></a>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <?php }} ?>

    </div>


    <div class="container">

        <div class="clear"></div>
        <div class="row" id="pt_home_vid_content_wrapper">
            <div class="col-md-12 pt_home_vid_content">

                <div class="content pt_shadow">
                    <div class="home-page-categories">
                        <div class="title">
                            <h4>
                                <div style="border-color: #2196F3;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="#2196F3"
                                              d="M16,6L18.29,8.29L13.41,13.17L9.41,9.17L2,16.59L3.41,18L9.41,12L13.41,16L19.71,9.71L22,12V6H16Z"/>
                                    </svg>
                                </div>&nbsp;&nbsp;{{LANG trending}}
                                <span class="view_more_link">
                <a href="{{LINK videos/trending}}" data-load="?link1=videos&page=trending">{{LANG explore_more}}
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                       stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                       class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                </a>
              </span>
                            </h4>
                        </div>
                        <div class="videos">
                            <div class="row pt_no_vid_found_trend">
                                {{TRENDING_LIST}}
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="col-md-12 pt_home_vid_content">
                <div class="content pt_shadow">
                    <div class="home-page-categories">
                        <div class="title">
                            <h4>
                                <div style="border-color: #359b39;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="#359b39"
                                              d="M13 6h2v11h-2zM17 3h2v14h-2zM9 9h2v8H9zM5 12h2v5H5zM4 19h16v2H4z"/>
                                    </svg>
                                </div>&nbsp;&nbsp;{{LANG top_videos}}
                                <span class="view_more_link">
                <a href="{{LINK videos/top}}" data-load="?link1=videos&page=top">{{LANG explore_more}}
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                       stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                       class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                </a>
              </span>
                            </h4>
                        </div>
                        <div class="videos">
                            <div class="row pt_no_vid_found_top">
                                {{TOP_LIST}}
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
<!--            <div class="col-md-12 pt_home_vid_content">-->
<!--                <div class="content pt_shadow">-->
<!--                    <div class="home-page-categories">-->
<!--                        <div class="title">-->
<!--                            <h4>-->
<!--                                <div style="border-color: #359b39;">-->
<!--                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">-->
<!--                                        <path fill="#359b39"-->
<!--                                              d="M13 6h2v11h-2zM17 3h2v14h-2zM9 9h2v8H9zM5 12h2v5H5zM4 19h16v2H4z"/>-->
<!--                                    </svg>-->
<!--                                </div>&nbsp;&nbsp;ویدئو های پیشنهادی-->
<!--                                <span class="view_more_link">-->
<!--&lt;!&ndash;                <a href="{{LINK videos/top}}" data-load="?link1=videos&page=top">{{LANG explore_more}}&ndash;&gt;-->
<!--&lt;!&ndash;                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"&ndash;&gt;-->
<!--&lt;!&ndash;                       stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"&ndash;&gt;-->
<!--&lt;!&ndash;                       class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--              </span>-->
<!--                            </h4>-->
<!--                        </div>-->
<!--                        <div class="videos">-->
<!--                            <div class="row pt_no_vid_found_top">-->
<!--                                {{SUGGESTED_LIST}}-->
<!--                                <div class="clear"></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="clear"></div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="col-md-12 pt_home_vid_content" >
                <div class="content pt_shadow">
                    <div class="home-page-categories">
                        <div class="title">
                            <h4>
                                <div style="border-color: #e91e63;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="#e91e63"
                                              d="M17,10.5V7A1,1 0 0,0 16,6H4A1,1 0 0,0 3,7V17A1,1 0 0,0 4,18H16A1,1 0 0,0 17,17V13.5L21,17.5V6.5L17,10.5Z"/>
                                    </svg>
                                </div>&nbsp;&nbsp;{{LANG latest_videos}}
                                <span class="view_more_link">
                <a href="{{LINK videos/latest}}" data-load="?link1=videos&page=latest">{{LANG explore_more}}
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                       stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                       class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                </a>
              </span>
                            </h4>
                        </div>
                        <div class="videos">
                            <div class="row  pt_no_vid_found_trend">
                                {{LATEST_LIST}}
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="col-md-12 pt_home_vid_content">
                <div class="content pt_shadow">
                    <div class="home-page-categories">
                        <div class="title">
                            <h4>
                                <div style="border-color: #e91e63;">
<!--                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">-->
<!--                                        <path fill="#2196F3"-->
<!--                                              d="M16,6L18.29,8.29L13.41,13.17L9.41,9.17L2,16.59L3.41,18L9.41,12L13.41,16L19.71,9.71L22,12V6H16Z"/>-->
<!--                                    </svg>-->
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><defs><style>.cls-1{fill:#f4607f;}.cls-2{fill:#fff;}.cls-3{opacity:0.1;}.cls-4{fill:#231f20;}</style></defs><title>heart-flat</title><path class="cls-1" d="M512,176.37a157.28,157.28,0,0,1-45.9,111.58l-.19.19-210,205.36L46,288.14c-61.26-61.71-61.26-161.83-.19-223.28A156.1,156.1,0,0,1,255.94,54.16,155,155,0,0,1,355.23,18.5h.06A154.84,154.84,0,0,1,466.1,64.85,157,157,0,0,1,512,176.37Z"/><path class="cls-2" d="M435.18,172.14H396.77a38.45,38.45,0,0,0-38.41-38.41V95.32A76.91,76.91,0,0,1,435.18,172.14Z"/><g class="cls-3"><path class="cls-4" d="M512,176.37a157.28,157.28,0,0,1-45.9,111.58l-.19.19-210,205.36V54.16A155,155,0,0,1,355.23,18.5h.06A154.84,154.84,0,0,1,466.1,64.85,157,157,0,0,1,512,176.37Z"/></g></svg>
                                </div>&nbsp;&nbsp;{{LANG likedCatsVids}}
                                <span class="view_more_link">
                                    <a href="{{LINK videos/likedCats}}" data-load="?link1=videos&page=likedCats">{{LANG explore_more}}
                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                           class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                                    </a>
                                  </span>
                            </h4>
                        </div>
                        <div class="videos">
                            <div class="row pt_no_vid_found_trend">
                                {{LIKEDCATS_LIST}}
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <svg id="loadingIcon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; display: block; shape-rendering: auto;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <g transform="rotate(0 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#9a9a9a">
                    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.9166666666666666s" repeatCount="indefinite"></animate>
                </rect>
            </g>
            <g transform="rotate(30 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#9a9a9a">
                    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.8333333333333334s" repeatCount="indefinite"></animate>
                </rect>
            </g>
            <g transform="rotate(60 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#9a9a9a">
                    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.75s" repeatCount="indefinite"></animate>
                </rect>
            </g>
            <g transform="rotate(90 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#9a9a9a">
                    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.6666666666666666s" repeatCount="indefinite"></animate>
                </rect>
            </g>
            <g transform="rotate(120 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#9a9a9a">
                    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5833333333333334s" repeatCount="indefinite"></animate>
                </rect>
            </g>
            <g transform="rotate(150 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#9a9a9a">
                    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5s" repeatCount="indefinite"></animate>
                </rect>
            </g>
            <g transform="rotate(180 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#9a9a9a">
                    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.4166666666666667s" repeatCount="indefinite"></animate>
                </rect>
            </g>
            <g transform="rotate(210 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#9a9a9a">
                    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.3333333333333333s" repeatCount="indefinite"></animate>
                </rect>
            </g>
            <g transform="rotate(240 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#9a9a9a">
                    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.25s" repeatCount="indefinite"></animate>
                </rect>
            </g>
            <g transform="rotate(270 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#9a9a9a">
                    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.16666666666666666s" repeatCount="indefinite"></animate>
                </rect>
            </g>
            <g transform="rotate(300 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#9a9a9a">
                    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.08333333333333333s" repeatCount="indefinite"></animate>
                </rect>
            </g>
            <g transform="rotate(330 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#9a9a9a">
                    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animate>
                </rect>
            </g>
            <!-- [ldio] generated by https://loading.io/ -->
        </svg>

        <!--{{SUBSC_HTML}}-->

        <!--{{HOME_PAGE_VIDEOS}}-->
    </div>
</div>
<div id="dom-target" style="display: none;">{{CATS_B}}</div>
<script>

    var running = 0;
    var div = document.getElementById("dom-target");
    var myData = div.textContent;
    // myData = myData.split(",");
    myData = JSON.parse(myData)

    $(window).scroll(function() {
        if($(window).scrollTop() + $(window).height() + 400  >= $(document).height()) {
            if (!running ) {
                callForVideos();
            }
        }
    });
    function callForVideos(){
        if (!jQuery.isEmptyObject(myData)) {
            running = 1;
            getVideos(myData[Object.keys(myData)[0]], Object.keys(myData)[0]);
            delete myData[Object.keys(myData)[0]];
        }else{
            document.getElementById('loadingIcon').style.display='none';
        }
        // console.log(myData.key);
    }
    function getVideos(title,catId){
        var xhr = new XMLHttpRequest(),
            url = '{{LINK aj/get_cat_videos}}?hash=' + $('.main_session').val();

        xhr.open("post", url);
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.send("catId=" + catId);
        xhr.onload = function () {
            if (this.readyState === 4 && this.status === 200) {
                try {
                    var res = this.responseText;
                    res = this.responseText.substring(0, this.responseText.length-2);
                    var response = JSON.parse(res);
                    if (response['result'] === 'successful') {
                        setCat(response['videos'],title,catId);
                    } else if (response['result'] === 'unsuccessful') {
                        if (response['cus']) {
                            if (response['cus'] === 'noVideos'){
                                callForVideos();
                            }
                        } else {
                        }
                    } else {
                        callForVideos();
                    }
                } catch (e) {
                    callForVideos();
                }
            } else {
            }
        }

    }
    function setCat(videos,title,catId){
        var pt_home_vid_content_wrapper = document.getElementById('pt_home_vid_content_wrapper');
        var div = document.createElement("DIV");
        var innerHtmlRes = '<div class="content pt_shadow">\n' +
            '                    <div class="home-page-categories">\n' +
            '                        <div class="title">\n' +
            '                            <h4>\n' +
            '                                <div style="border-color: #e91e63;">\n' +
            '                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">\n' +
            '                                        <path fill="#e91e63"\n' +
            '                                              d="M17,10.5V7A1,1 0 0,0 16,6H4A1,1 0 0,0 3,7V17A1,1 0 0,0 4,18H16A1,1 0 0,0 17,17V13.5L21,17.5V6.5L17,10.5Z"/>\n' +
            '                                    </svg>\n' +
            '                                </div>&nbsp;&nbsp;'+ title +'\n' +
            '                                <span class="view_more_link">\n' +
            '                                    <a href="/videos/category/'+catId+'">{{LANG explore_more}}\n' +
            '                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"\n' +
            '                                           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"\n' +
            '                                           class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>\n' +
            '                                    </a>\n' +
            '                                  </span>\n' +
            '                            </h4>\n' +
            '                        </div>\n' +
            '                        <div class="videos">\n' +
            '                            <div class="row pt_no_vid_found_trend">\n' +
            '                                '+videos+'\n' +
            '                            </div>\n' +
            '                        </div>\n' +
            '                    </div>\n' +
            '                    <div class="clear"></div>\n' +
            '                </div>';
        div.classList.add('col-md-12');
        div.classList.add('pt_home_vid_content');
        div.innerHTML = innerHtmlRes;
        pt_home_vid_content_wrapper.appendChild(div);
        running = 0;
    }



    $(document).ready(function () {
        $(".pl_feat_vid_slider").owlCarousel({
            items: 1,
            nav: true,
            navContainer: '.pl_feat_vid_slide_nav',
            // dotsContainer: '.pl_feat_vid_slide_dots',
            navText: ['<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" /></svg>', '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z" /></svg>'],
            rtl: true,
    });
    });

    $(document).ready(function () {
        if (!$.trim($('.pt_no_vid_found_trend').html()).length) {
            $('.pt_no_vid_found_trend').html("<h5 class=\"empty_state\"><svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"feather feather-video-off\"><path d=\"M16 16v1a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h2m5.66 0H14a2 2 0 0 1 2 2v3.34l1 1L23 7v10\"></path><line x1=\"1\" y1=\"1\" x2=\"23\" y2=\"23\"></line></svg> {{LANG no_videos_found_for_now}}</h5>");
        }
        ;
    });

    $(document).ready(function () {
        if (!$.trim($('.pt_no_vid_found_top').html()).length) {
            $('.pt_no_vid_found_top').html("<h5 class=\"empty_state\"><svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"feather feather-video-off\"><path d=\"M16 16v1a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h2m5.66 0H14a2 2 0 0 1 2 2v3.34l1 1L23 7v10\"></path><line x1=\"1\" y1=\"1\" x2=\"23\" y2=\"23\"></line></svg> {{LANG no_videos_found_for_now}}</h5>");
        }
        ;
    });

    $(function () {
        $('#save-button').on('click', function (event) {
            event.preventDefault();
            var logged = $('#main-container').attr('data-logged');
            if (!logged) {
                window.location.href = "{{LINK login?to=<?php echo $pt->actual_link;?>}}";
                return false;
            }
            var video_id = $('#video-id').val();
            if ($(this).attr('saved')) {
                $(this).html('<i class="fa fa-floppy-o fa-fw"></i> {{LANG save}}');
                $(this).removeAttr('saved');
            } else {
                $(this).html('<i class="fa fa-check fa-fw"></i> {{LANG saved}}');
                $(this).attr('saved', 'true');
            }
            $.post('{{LINK aj/save-video}}', {video_id: video_id});
        });
    });
</script>
