<style>
.navbar-default.second-header-layout {background: #b228c9; }
	.required-field{
		color: red;
		margin-right: 2px;
	}
	label{
		text-align: right;
	}
	.fixed-action-btn{
		display: none !important;
	}
	<?php
	 if ($pt->page === "upload-video-api") {
?>
#main-container {
	margin-right: 0;
}
#container_content > div:last-of-type {
	margin-bottom: 0 !important;
}
#container_content{
	padding-top: 0;
	padding-bottom: 0;
}
body {
	padding-bottom: 0;
}
#main-container {
	max-width: unset !important;
}
<?php
	}
	 ?>
</style>

<div class="wo_about_wrapper_parent">
	<div class="wo_about_wrapper">
		<div class="hero hero-overlay upload-background">
			<div class="container">
				<h1 class="text-center">{{LANG upload_new_video}}</h1>
			</div>
		</div>
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 3510.8 349.9" xml:space="preserve"><style type="text/css">.st0{opacity:0.35;fill:var(--main-bg);}.st1{fill:var(--main-bg);}</style><path class="st0" d="M1538.6,349.9c-8.5-5.8-17-11.5-25.4-17.2c-201.1-134-443.1-203.1-683.1-195.3	c-227.5,7.5-446.5,85.8-635.3,212.4H1538.6z"/><path class="st1" d="M3510.8,204.2c-20.4-11.2-41.6-21.2-62.2-29.5c-82.7-33.3-189.3-48.1-283.7-29.4
	c-145.5,29-226.9,126.3-365.6,165.7c-122,34.6-266.8,18.4-392.2-11.3c-243.9-57.8-476.4-125.1-746.4-111c-148,7.7-291,38.8-421.4,82
	c-134.5,44.6-293.8,106.7-448.7,58.3c-131.8-41.3-200.4-132.1-322.4-182c-91.2-37.3-207.8-50.7-315.1-36.3
	C98,118.1,45.7,132.9,0,153.3v197.2h3510.8V204.2z"/><path class="st0" d="M3510.8,282.8c-117.5-97.4-255.6-201.2-413.4-176.4c-111.4,17.5-184.7,114-282.7,161
	c-127.3,61-227.1-16.9-341-69.3c-153.7-70.6-343.6-51.4-480.7,48.6c-42.4,31-83,70-125.2,103.2h1643V282.8z"/><path class="st0" d="M3510.8,161.9c-21.6-2.7-43-3.1-62.3-1.6c-73,5.5-142.2,33.4-209.5,62.3c-67.3,28.9-134.9,59.4-207.2,70.9
	c-241.2,38.3-440.7-133.6-663.5-189c-201.9-50.2-415.8-6.8-611.8,62.6c-199.5,70.6-405.5,169.7-612.9,127.5
	c-146-29.7-268.2-125.9-403.1-189.1C501.4-6.7,247.5-4.2,0,50.1v299.8h3510.8V161.9z"/></svg>
	</div>
</div>
<div class="col-md-2"></div>
<div class="col-md-8 pt_page_margin upload-video-svg">
	<div class="content pt_shadow">
		<div class="col-md-12 pt_upload_vdo">
			<?php if ($pt->user->admin == 6) { ?>
				<div class="alert alert-warning">
					<h4>Just admins can see this message</h4>
					<p>Note: Your server max upload size is: <?php echo ini_get('upload_max_filesize')?>, means you can't upload files that are larger than: <?php echo ini_get('upload_max_filesize')?><br><br> If you want to increase the limit or If you can't upload large files, go to Admin Settings > Settings > Site Settings > Max upload size and increase the value, if you still can't upload large files, please contact your host provider and let them increase the upload limit and max_execution_time.</p>
				</div>
			<?php } ?>
			<div class="upload" data-block="video-drop-zone">
				<div>
					<svg fill="currentColor" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="feather feather-upload"><path d="M14,13V17H10V13H7L12,8L17,13M19.35,10.03C18.67,6.59 15.64,4 12,4C9.11,4 6.6,5.64 5.35,8.03C2.34,8.36 0,10.9 0,14A6,6 0 0,0 6,20H19A5,5 0 0,0 24,15C24,12.36 21.95,10.22 19.35,10.03Z" /></svg>
					<h4 style="text-align: center;">{{LANG darg_drop_video}}</h4>
					<p style="text-align: center;">{{LANG or}} {{LANG click_2choose_file}}</p>
					<button class="btn btn-main">{{LANG upload}}</button>
				</div>
			</div>
			<div class="progress hidden">
				<span class="percent">0%</span>
				<div class="progress_bar_parent">
					<div class="bar upload-progress-bar progress-bar active"></div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="text-center pt_prcs_vdo"></div>

			<form action="" method="POST" id="upload-video" style="visibility: hidden;" enctype="multipart/form-data">
				<input type="file" name="video" accept="video/*,.mkv" class="upload-video-file">
			</form>

			<div class="col-md-12 hidden" id="upload-form">
				<form action="" class="form-horizontal setting-panel pt_forms" id="main-form" method="POST">
					<?php if (PT_IsAdmin() && $pt->config->movies_videos == 'on') { ?>
					<input type="hidden" value="{{TYPE}}" name="is_movie">


                  <div id="movie_fields" style="display: none;">
                     <div class="form-group">
                        <label class="col-md-12" for="movie_title">{{LANG movie_title}}<span class="required-field">*</span></label>
                        <div class="col-md-12">
                           <input id="movie_title" name="movie_title" type="text" placeholder="{{LANG movie_title}}" class="form-control input-md">
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-md-12" for="description">{{LANG description}}<span class="required-field">*</span></label>
                        <div class="col-md-12">
                           <textarea name="movie_description" id="description" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-md-12" for="stars">{{LANG stars}}<span class="required-field">*</span></label>
                        <div class="col-md-12">
                           <input id="stars" name="stars" type="text" placeholder="{{LANG stars}} {{LANG by_comma}}" class="form-control input-md">
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-md-12" for="producer">{{LANG producer}}<span class="required-field">*</span></label>
                        <div class="col-md-12">
                           <input id="producer" name="producer" type="text" placeholder="{{LANG producer}}" class="form-control input-md">
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-md-12" for="release">{{LANG release}}<span class="required-field">*</span></label>
                        <div class="col-md-12">
                           <input id="release" name="release" type="number" placeholder="{{LANG release}}" class="form-control input-md"  min="1910" max="<?php echo date('Y') ?>">
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-md-12" for="country">{{LANG country}}<span class="required-field">*</span></label>
                        <div class="col-md-12">
                           <select class="form-control show-tick" id="country" name="country">
                              <?php foreach ($countries_name as $key => $value) : ?>
                              <option value="<?php echo $key; ?>"><?php echo $value; ?></option>
                              <?php  endforeach; ?>
                           </select>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-md-12" for="category">{{LANG category}}<span class="required-field">*</span></label>
                        <div class="col-md-12">
                           <select class="form-control show-tick" id="category" name="category">
                              <?php foreach ($pt->movies_categories as $cat_id => $category): ?>
                                 <option value="<?php echo $cat_id;?>"><?php echo $category;?></option>
                              <?php endforeach;?>
                           </select>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-md-12" for="rating">{{LANG rating}} {{LANG rating_btween}}<span class="required-field">*</span></label>
                        <div class="col-md-12">
                           <input type="number" id="rating" name="rating" class="form-control" min="1" max="10" step="0.1">
                        </div>
                     </div>

                  </div>
					<!--<div id="music_fields" style="display: none;">-->
						<!--<div class="form-group">-->
							<!--<label class="col-md-12" for="movie_title">{{LANG music_title}}</label>-->
							<!--<div class="col-md-12">-->
								<!--<input id="movie_title" name="movie_title" type="text" placeholder="{{LANG music_title}}" class="form-control input-md">-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="form-group">-->
							<!--<label class="col-md-12" for="description">{{LANG description}}</label>-->
							<!--<div class="col-md-12">-->
								<!--<textarea name="movie_description" id="description" cols="30" rows="5" class="form-control"></textarea>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="form-group">-->
							<!--<label class="col-md-12" for="producer">{{LANG singer}}</label>-->
							<!--<div class="col-md-12">-->
								<!--<input id="producer" name="producer" type="text" placeholder="{{LANG singer}}" class="form-control input-md">-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="form-group">-->
							<!--<label class="col-md-12" for="release">{{LANG release}}</label>-->
							<!--<div class="col-md-12">-->
								<!--<input id="release" name="release" type="number" placeholder="{{LANG release}}" class="form-control input-md"  min="1910" max="<?php echo date('Y') ?>">-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="form-group">-->
							<!--<label class="col-md-12" for="country">{{LANG country}}</label>-->
							<!--<div class="col-md-12">-->
								<!--<select class="form-control show-tick" id="country" name="country">-->
									<!--<?php foreach ($countries_name as $key => $value) : ?>-->
									<!--<option value="<?php echo $key; ?>"><?php echo $value; ?></option>-->
									<!--<?php  endforeach; ?>-->
								<!--</select>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="form-group">-->
							<!--<label class="col-md-12" for="category">{{LANG category}}</label>-->
							<!--<div class="col-md-12">-->
								<!--<select class="form-control show-tick" id="category" name="category">-->
									<!--<?php foreach ($pt->music_categories as $cat_id => $category): ?>-->
									<!--<option value="<?php echo $cat_id;?>"><?php echo $category;?></option>-->
									<!--<?php endforeach;?>-->
								<!--</select>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
                  <?php } ?>
                  <div id="video_fields">
					  <?php if($pt->user->admin === 1){ ?>
					  <div class="form-group">
						  <label class="col-md-12" for="title">{{LANG select_channel}}<span class="required-field">*</span></label>
						  <div class="col-md-12">
							  <select name="channel" id="channel" class="form-control">
								  <option class="null_option" value="">انتخاب دسته بندی</option>
								  <?php
								  foreach($pt->admins as $key=>$val){  if($val->id == 1)continue;?>
								  <option value="<?php echo $val->id ?>"><?php echo $val->name ?></option>
								  <?php } ?>
							  </select>
						  </div>
					  </div>
					  <div class="form-group">
						  <label class="col-md-12" for="title">{{LANG short_video}}<span class="required-field">*</span></label>
						  <div class="col-md-12">
							  <select name="short_video" id="short_video" class="form-control">
								  <option value="0">{{LANG no}}</option>
								  <option value="5">{{LANG yes}}</option>
							  </select>
						  </div>
					  </div>
					  <?php }
						else {
							?>
					  		<input type="hidden" value="" name="channel">
					  		<input type="hidden" value="0" name="short_video">
					  		<?php
						}
						?>
						<div class="form-group">
							<label class="col-md-12" for="title">{{LANG video_title}}<span class="required-field">*</span></label>
							<div class="col-md-12">
								<input id="title" name="title" type="text" placeholder="" class="form-control input-md">
								<span class="help-block">{{LANG video_title_help}}</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-12" for="description">{{LANG video_descritpion}}<span class="required-field">*</span></label>
							<div class="col-md-12">
								<textarea name="description" id="description" cols="30" rows="5" class="form-control"></textarea>
							</div>
						</div>
						<!--<div class="form-group">-->
							<!--<label class="col-md-12" for="category_id">{{LANG category}}</label>-->
							<!--<div class="col-md-12">-->
								<!--<select name="category_id" id="category_id" class="form-control">-->
									<!--<?php foreach($pt->categories as $key => $category) {?>-->
									<!--<option value="<?php echo $key?>"><?php echo $category?></option>-->
									<!--<?php } ?>-->
								<!--</select>-->
							<!--</div>-->
						<!--</div>-->
					  <div class="form-group">
						  <label class="col-md-12" for="category_id">{{LANG category}}<span class="required-field">*</span></label>
						  <div class="col-md-12">
							  <input name="category_id" id="category_id" type="text" placeholder="" class="form-control input-md"> <!-- only disabled for demonstration purposes -->
<!--							  <ul id="singleFieldTags2">-->
<!--								  <?php foreach($pt->categories as $key => $category) {?>-->
<!--								  <li value="<?php echo $key?>"><?php echo $category?></li>-->
<!--								  <?php } ?>-->
<!--							  </ul>-->
						  </div>
					  </div>

						<div class="form-group" <?php if (empty($pt->sub_categories_array["'1'"])) { ?> style="display: none;"<?php } ?> id="sub_category_div">
							<label class="col-md-12" for="sub_category_id">{{LANG sub_category}}</label>
							<div class="col-md-12">
								<select name="sub_category_id" id="sub_category_id" class="form-control">
									<?php echo $pt->sub_categories_array["'1'"]; ?>
								</select>
							</div>
						</div>

						<div class="form-group">
		                     <label class="col-md-12" for="privacy">{{LANG privacy}}</label>
		                     <div class="col-md-12">
		                        <select name="privacy" id="privacy" class="form-control">
		                           <option value="0">{{LANG public}}</option>
		                           <option value="1">{{LANG private}}</option>
		                           <option value="2">{{LANG unlisted}}</option>
		                        </select>
		                     </div>
		                  </div>

						<div class="form-group">
		                     <label class="col-md-12" for="pricing">{{LANG pricing}}</label>
		                     <div class="col-md-12">
		                        <select name="pricing" id="pricing" class="form-control" onchange="if(parseInt($(this).val()) === 0) {$('#cost').attr('disabled', 'disabled');} else {$('#cost').removeAttr('disabled');}">
		                           <option value="0">{{LANG pricing_free}}</option>
		                           <option value="1">{{LANG pricing_costly}}</option>
		                           <option value="-1">{{LANG pricing_free_subs}}</option>
		                        </select>
		                        <input name="cost" id="cost" class="form-control" type="number" min="0" max="9999999" placeholder="{{LANG currency_IR}}" disabled>
		                     </div>
					  	</div>

						<div class="form-group">
							<label class="col-md-12" for="tags">{{LANG tags}}<span class="required-field">*</span></label>
							<div class="col-md-12">
								<input id="mySingleFieldTags" name="tags" type="text" placeholder="" class="form-control input-md">
							</div>
						</div>


					</div>
			<?php if ($pt->user->admin == 1 && !empty($_GET['type']) && $_GET['type'] == 'cinema') { ?>
				<div class="" style="margin: 2rem;text-align: right">
					<label for="subtitle" style="margin-top: 2rem">زیرنویس</label>
					<input id="subtitle" name="subtitle" type="file"  accept=".vtt,.srt">
				</div>
			<?php } ?>
			<div class="form-group">
				<label class="col-md-12" for="tags">{{LANG video_cover}}<span class="required-field">*</span></label>
				<div class="col-md-12" style="text-align: right">
					<input type="radio" name="video-cover" value="input_cover" checked>انتخاب دستی<br>
					<input type="radio" name="video-cover" value="auto_cover">انتخاب از روی ویدیو
				</div>
			</div>
			<div id="input_cover">
				<div class="form-group">
					<label class="col-md-12" for="thumbnail">{{LANG thumbnail}}</label>
					<div class="col-md-12">
						<div class="upload-product-image pull-left" onclick="document.getElementById('thumbnail').click(); return false">
							<div class="upload-image-content">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-camera"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
							</div>
						</div>
						<input id="thumbnail" name="thumbnail" type="file" class="hidden" accept="image/*">
						<span class="help-block">jpg, png, gif</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<div style="overflow-x: auto;width:100%;">
							<div id="productimage-holder" style="display: none"></div>
						</div>

					</div>
				</div>
			</div>
			<?php if ($pt->user->admin == 1 && !empty($_GET['type']) && $_GET['type'] == 'cinema') { ?>
			<div id="input_cover">
				<div class="form-group">
					<label class="col-md-12" for="thumbnailCover">کاور</label>
					<div class="col-md-12">
						<div class="upload-product-image pull-left" onclick="document.getElementById('thumbnailCover').click(); return false">
							<div class="upload-image-content">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-camera"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
							</div>
						</div>
						<input id="thumbnailCover" name="thumbnailCover" type="file" class="hidden" accept="image/*">
						<span class="help-block">jpg, png, gif</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<div style="overflow-x: auto;width:100%;">
							<div id="productimage-holder-cover" style="display: none"></div>
						</div>

					</div>
				</div>
			</div>
			<div id="input_cover">
				<div class="form-group">
					<label class="col-md-12" for="thumbnailSlide">اسلاید</label>
					<div class="col-md-12">
						<div class="upload-product-image pull-left" onclick="document.getElementById('thumbnailSlide').click(); return false">
							<div class="upload-image-content">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-camera"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
							</div>
						</div>
						<input id="thumbnailSlide" name="thumbnailSlide" type="file" class="hidden" accept="image/*">
						<span class="help-block">jpg, png, gif</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<div style="overflow-x: scroll;width:100%;">
							<div id="productimage-holder-slide" style="display: none"></div>
						</div>

					</div>
				</div>
			</div>

			<?php }
				?>
			<div id="auto_cover" style="display: none">
				<div class="form-group">
					<div class="col-md-12" style="text-align: center">
						<video width="320" height="240" controls id="snap_video" style="max-width: 100%">
							<source src="" type="video/mp4" id="video_path">
						</video>
						<a href="#" id="snap" style="width: 300px;display: none;text-align: center !important;">برداشت کاور </a>
						<!--<canvas id="canvas" width="320" height="240"></canvas>-->
					</div>
				</div>
			</div>




					<div class="last-sett-btn modal-footer">
						<button type="submit" id="submit-btn" class="btn btn-main setting-panel-mdbtn" disabled><svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check-circle'><path d='M22 11.08V12a10 10 0 1 1-5.93-9.14'></path><polyline points='22 4 12 14.01 9 11.01'></polyline></svg> {{LANG publish}}</button>
					</div>
					<input type="hidden" name="video-location" id="video-location" value="">
					<input type="hidden" name="image-base64" id="image_base64" value="">
					<input type="hidden" name="image-base64cover" id="image_base64cover" value="">
					<input type="hidden" name="image-base64slide" id="image_base64slide" value="">
					<input type="hidden" name="cover_auto_time" id="cover_auto_time" value="">

				</form>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>

	</div>
</div>
<div class="col-md-2"></div>
<div class="wo_about_wrapper_parent" style="transform: scaleY(-1);z-index: -1;float: right;margin-top: -50px;margin-bottom: 20px;">
	<div class="wo_about_wrapper">
		<div class="hero hero-overlay upload-background">

		</div>
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 3510.8 349.9" xml:space="preserve"><style type="text/css">.st0{opacity:0.35;fill:var(--main-bg);}.st1{fill:var(--main-bg);}</style><path class="st0" d="M1538.6,349.9c-8.5-5.8-17-11.5-25.4-17.2c-201.1-134-443.1-203.1-683.1-195.3	c-227.5,7.5-446.5,85.8-635.3,212.4H1538.6z"></path><path class="st1" d="M3510.8,204.2c-20.4-11.2-41.6-21.2-62.2-29.5c-82.7-33.3-189.3-48.1-283.7-29.4
	c-145.5,29-226.9,126.3-365.6,165.7c-122,34.6-266.8,18.4-392.2-11.3c-243.9-57.8-476.4-125.1-746.4-111c-148,7.7-291,38.8-421.4,82
	c-134.5,44.6-293.8,106.7-448.7,58.3c-131.8-41.3-200.4-132.1-322.4-182c-91.2-37.3-207.8-50.7-315.1-36.3
	C98,118.1,45.7,132.9,0,153.3v197.2h3510.8V204.2z"></path><path class="st0" d="M3510.8,282.8c-117.5-97.4-255.6-201.2-413.4-176.4c-111.4,17.5-184.7,114-282.7,161
	c-127.3,61-227.1-16.9-341-69.3c-153.7-70.6-343.6-51.4-480.7,48.6c-42.4,31-83,70-125.2,103.2h1643V282.8z"></path><path class="st0" d="M3510.8,161.9c-21.6-2.7-43-3.1-62.3-1.6c-73,5.5-142.2,33.4-209.5,62.3c-67.3,28.9-134.9,59.4-207.2,70.9
	c-241.2,38.3-440.7-133.6-663.5-189c-201.9-50.2-415.8-6.8-611.8,62.6c-199.5,70.6-405.5,169.7-612.9,127.5
	c-146-29.7-268.2-125.9-403.1-189.1C501.4-6.7,247.5-4.2,0,50.1v299.8h3510.8V161.9z"></path></svg>
	</div>
</div>
<script>
	var sampleTags = [];
	var u_sampleTags = [];
	<?php
			$lang = new Lang();
	$users = new User();
	$channels = $users->getAllChannels();
	$categories = $lang->getAllCats();
	foreach($channels as $owner) {
				?>
		u_sampleTags['<?= $owner['id'] ?>']=[];
		<?php
	$ucategories = $lang->getAllUCatsOf($owner['id']);
	if (isset($ucategories['id'])) $ucategories = array($ucategories);
	foreach($ucategories as $ucat2){
				?>
		u_sampleTags['<?= $owner['id'] ?>'].push('<?= $ucat2['id'] ?>: <?= $ucat2[$_SESSION['lang']] ?>');
		<?php
		$sub_ucategories = $lang->getSubCats($ucat2['id']);
		if ($sub_ucategories) {
			if (isset($sub_ucategories['id'])) $sub_ucategories = array($sub_ucategories);
			foreach($sub_ucategories as $sub_ucat2){
			?>
			u_sampleTags['<?= $owner['id'] ?>'].push('<?= $sub_ucat2['id']; ?> -- <?= $sub_ucat2[$_SESSION['lang']];?>');
			<?php
			}
			}
			}
			}

	foreach($categories as $key => $category) {
				?>
		sampleTags.push('<?= $category[$_SESSION['lang']] ?>');
		<?php
	$sub_categories = $lang->getSubCats($category['id']);
	if ($sub_categories) {
		if (isset($sub_categories['id'])) $sub_categories = array($sub_categories);
		foreach($sub_categories as $sub_cat2){
		?>
		sampleTags.push('-- <?= $sub_cat2[$_SESSION['lang']];?>');
		<?php
		}
		}
		}
		?>
	// console.log(JSON.stringify(sampleTags));
	// console.log(JSON.stringify(u_sampleTags));
	console.log(sampleTags);
	console.log(u_sampleTags);
    $('#category_id').tagit({
		tagLimit: 1000,
        availableTags: sampleTags,
        // singleField: false,
        // singleFieldNode: $('#singleFieldTags2'),
        fieldName         : 'category_id',
        showAutocompleteOnFocus : true,
        afterTagAdded: function (event, ui) {
            if ($.inArray(ui.tagLabel, sampleTags) == -1) {
                $("#category_id").tagit("removeTagByLabel", ui.tagLabel);
            }
        },
		onTagLimitExceeded  : function (event, ui){
			Snackbar.show({showAction: false,backgroundColor: '#e22e40',text: '<div>{{LANG category_limit_reached}}</div>'});
		},
    });
</script>
<link rel="stylesheet" href="{{CONFIG theme_url}}/css/croppie.css" />
<script src="{{CONFIG theme_url}}/js/croppie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
<script>
	$("#channel").change(function (){
		if($(this).prop('selectedIndex') == 0){
			$('#category_id').tagit("removeAll");
			$('#category_id').tagit({
				tagLimit: 1000,
				availableTags: sampleTags,
				fieldName         : 'category_id',
				showAutocompleteOnFocus : true,
				afterTagAdded: function (event, ui) {
					if ($.inArray(ui.tagLabel, sampleTags) == -1) {
						$("#category_id").tagit("removeTagByLabel", ui.tagLabel);
					}
				},
				onTagLimitExceeded  : function (event, ui){
					Snackbar.show({showAction: false,backgroundColor: '#e22e40',text: '<div>{{LANG category_limit_reached}}</div>'});
				},
			});
		}
		else
		{
			$('#category_id').tagit("removeAll");
			let that = this;
			$('#category_id').tagit({
				tagLimit: 1000,
				availableTags: u_sampleTags[$(that).val()],
				fieldName         : 'category_id',
				showAutocompleteOnFocus : true,
				afterTagAdded: function (event, ui) {
					if ($.inArray(ui.tagLabel, u_sampleTags[$(that).val()]) == -1) {
						$("#category_id").tagit("removeTagByLabel", ui.tagLabel);
					}
					console.log(u_sampleTags[$(that).val()]);
				},
				onTagLimitExceeded  : function (event, ui){
					Snackbar.show({showAction: false,backgroundColor: '#e22e40',text: '<div>{{LANG category_limit_reached}}</div>'});
				},
			});
		}
	});
	<?php if (PT_IsAdmin()) { ?>
		function ShowForm(self) {

			if ($(self).val() == 1 && ($("#video_fields").is(":visible") == true || $("#music_fields").is(":visible") == true)) {
				$("#video_fields").hide();
				$("#music_fields").hide();
				$("#movie_fields").show();
			}
			else if($(self).val() == 0 && ($("#movie_fields").is(":visible") == true || $("#music_fields").is(":visible") == true)){
				$("#video_fields").show();
				$("#movie_fields").hide();
				$("#music_fields").hide();
			}
			else if($(self).val() == 2 && ($("#video_fields").is(":visible") == true || $("#movie_fields").is(":visible") == true)){
				$("#video_fields").hide();
				$("#movie_fields").hide();
				$("#music_fields").show();
			}
		}
	<?php } ?>
	$('.selectpicker').selectpicker({});
	<?php
			$js_array = json_encode($pt->sub_categories_array);
	echo "var sub_categories_array = ". $js_array . ";\n";
			?>
	// $(document).on('change', '#category_id', function(event) {
	// 	event.preventDefault();
	// 	id = $(this).val();
	// 	if (typeof(sub_categories_array["'"+id+"'"]) == 'undefined') {
	// 		$('#sub_category_div').hide();
	// 	    $('#sub_category_id').html('');
	//    }
	//    else{
	//      	$('#sub_category_div').show();
	// 	    $('#sub_category_id').html(sub_categories_array["'"+id+"'"]);
	//   }
	// });
	$.base64ImageToBlob = function(str) {
		// extract content type and base64 payload from original string
		var pos = str.indexOf(';base64,');
		var type = str.substring(5, pos);
		var b64 = str.substr(pos + 8);

		// decode base64
		var imageContent = atob(b64);

		// create an ArrayBuffer and a view (as unsigned 8-bit)
		var buffer = new ArrayBuffer(imageContent.length);
		var view = new Uint8Array(buffer);

		// fill the view, using the decoded base64
		for (var n = 0; n < imageContent.length; n++) {
			view[n] = imageContent.charCodeAt(n);
		}

		// convert ArrayBuffer to Blob
		var blob = new Blob([buffer], { type: type });

		return blob;
	}

	$.appendField = function(key, value) {
		var tmp = document.createElement('input');
		tmp.type = 'file';
		tmp.name = key;
		tmp.value = value;
		$("#upload-form").appendChild(tmp);
	}

	$(document).ready(function() {
		$("#ui-id-1").addClass("upload-form-tagitList");
		$('input[type=radio][name=video-cover]').change(function () {
			if($(this).val() == 'auto_cover'){
				$("#auto_cover").css('display', 'block');
				$("#input_cover").css('display', 'none');
				$('#submit-btn').attr('disabled', true);
			}else{
				$("#auto_cover").css('display', 'none');
				$("#input_cover").css('display', 'block');
			}
		})
		$("#submit-btn").click(function () {
			resize.croppie('result', {
				type: 'canvas',
				size: 'viewport'
			}).then(function (img) {
				$("#image_base64").val(img);
				console.log(img)
			});
			resizeCover.croppie('result', {
				type: 'canvas',
				size: 'viewport'
			}).then(function (img) {
				$("#image_base64cover").val(img);
				console.log(img)
			});
			resizeSlide.croppie('result', {
				type: 'canvas',
				size: 'viewport'
			}).then(function (img) {
				$("#image_base64slide").val(img);
				console.log(img)
			});

		})
		var resize = $('#productimage-holder').croppie({
			enableExif: true,
			enableOrientation: true,
			viewport: { // Default { width: 100, height: 100, type: 'square' }
				width: 400,
				height: 300,
				type: 'square' //square
			},
			boundary: {
				width: 600,
				height: 450
			}
		});var resizeCover = $('#productimage-holder-cover').croppie({
			enableExif: true,
			enableOrientation: true,
			viewport: { // Default { width: 100, height: 100, type: 'square' }
				width: 420,
				height: 620,
				type: 'square' //square
			},
			boundary: {
				width: 530,
				height: 730
			}
		});var resizeSlide = $('#productimage-holder-slide').croppie({
			enableExif: true,
			enableOrientation: true,
			viewport: { // Default { width: 100, height: 100, type: 'square' }
				width: 1920,
				height: 900,
				type: 'square' //square
			},
			boundary: {
				width: 2020,
				height: 1000
			}
		});

		$('#thumbnail').on('change', function () {
			$('#productimage-holder').css('display', 'block');
			var reader = new FileReader();
			reader.onload = function (e) {
				resize.croppie('bind',{
					url: e.target.result
				}).then(function(){
					console.log('jQuery bind complete');
				});
			}
			reader.readAsDataURL(this.files[0]);
		});$('#thumbnailCover').on('change', function () {
			$('#productimage-holder-cover').css('display', 'block');
			var readerCover = new FileReader();
			readerCover.onload = function (e) {
				resizeCover.croppie('bind',{
					url: e.target.result
				}).then(function(){
					console.log('jQuery bind complete');
				});
			}
			readerCover.readAsDataURL(this.files[0]);
		});$('#thumbnailSlide').on('change', function () {
			$('#productimage-holder-slide').css('display', 'block');
			var readerSlide = new FileReader();
			readerSlide.onload = function (e) {
				resizeSlide.croppie('bind',{
					url: e.target.result
				}).then(function(){
					console.log('jQuery bind complete');
				});
			}
			readerSlide.readAsDataURL(this.files[0]);
		});

	});

</script>
<?php require $site_url . "themes/mana/layout/upload-video/content.js.php"; ?>
<style>.upload-s3-progressing{background: #4c9dd3;}</style>
