<!DOCTYPE html>
<html id="html">
<head>
	<meta name="google-site-verification" content="JyHQTdsVwhMej9GAQG4XGB-0b-xwfCZcCH00aSl5s3A" />
	<meta charset="UTF-8">
	<title>{{CONTAINER_TITLE}}</title>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
	<meta name="title" content="{{CONTAINER_TITLE}}">
	<meta name="description" content="{{CONTAINER_DESC}}">
	<meta name="keywords" content="{{CONTAINER_KEYWORDS}}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="fb:app_id" content="1643990952546825" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <?php if (!empty($pt->config->dailymotion_id)) { ?>
      <meta name="dailymotion-domain-verification" content="{{CONFIG dailymotion_id}}" />
    <?php } ?>
    {{OG_METATAGS}}
    {{CONTAINER_CANONICAL}}
    <link rel="shortcut icon" type="image/png" href="{{CONFIG theme_url}}/img/icon.png"/>
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/color.css">
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/jquery-ui.min.css">
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/jquery.tagit.css">
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/twemoji-awesome.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{CONFIG theme_url}}/js/lib/sweetalert2/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="{{CONFIG theme_url}}/js/lib/notifIt/notifIt/css/notifIt.min.css">
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/style.css" >
    <!--id="style-css"-->
    <!--new theme-->
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/reset.css">
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/custom.css">
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/style_kh.css">
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/dark.css">
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/responsive.css">
    <!--end new theme-->


    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/custom.style.css">
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/style_extra.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Muli:300,400" rel="stylesheet">
    <script src="{{CONFIG theme_url}}/js/functions.alireza.js"></script>
    <script src="{{CONFIG theme_url}}/js/jquery-3.min.js"></script>
    <script src="{{CONFIG theme_url}}/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{CONFIG theme_url}}/js/jquery.form.min.js"></script>
    <script type="text/javascript" src="{{CONFIG theme_url}}/js/tag-it.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>

    <?php if ($pt->config->player_type == 'fluidPlayer') { ?>
      <link rel="stylesheet" href="{{CONFIG theme_url}}/player/css/fluidplayer/fluidplayer.min.css" type="text/css"/>
      <script src="{{CONFIG theme_url}}/player/js/fluidplayer/fluidplayer.min.js"></script>
    <?php }elseif ($pt->config->player_type == 'videojs') { ?>
    <script src="http://imasdk.googleapis.com/js/sdkloader/ima3.js"></script>
      <link href="{{CONFIG theme_url}}/player/css/video_js/video-js.css" rel="stylesheet">
      <link href="{{CONFIG theme_url}}/player/css/video_js/videojs-contrib-ads.min.css" rel="stylesheet">
      <link href="{{CONFIG theme_url}}/player/css/video_js/videojs-resolution-switcher.css" rel="stylesheet">
      <link href="{{CONFIG theme_url}}/player/css/video_js/videojs.ima.css" rel="stylesheet">
    <?php }?>
      <link rel="stylesheet" href="{{CONFIG theme_url}}/player/css/mediaelementplayer.min.css" />
      <script src="{{CONFIG theme_url}}/player/js/mediaelement-and-player.min.js"></script>




    <script src="{{CONFIG theme_url}}/js/lib/sweetalert2/dist/sweetalert2.js"></script>
    <script src="{{CONFIG theme_url}}/js/lib/notifIt/notifIt/js/notifIt.min.js"></script>
    <link href="{{CONFIG theme_url}}/css/bootstrap-toggle.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/bootstrap-select.min.css">
    <script src="{{CONFIG theme_url}}/js/bootstrap-select.min.js"></script>

	<link rel="stylesheet" href="{{CONFIG theme_url}}/css/owl.carousel.min.css">
    <script src="{{CONFIG theme_url}}/js/owl.carousel.min.js"></script>

    <?php if ($pt->language_type == 'rtl') { ?>
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/bootsrap-rtl.min.css">
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/rtl.style.css">
    <?php } ?>
    <?php if ($pt->mode == 'night' || $pt->config->night_mode == 'night'): ?>
    <link rel="stylesheet" href="{{CONFIG theme_url}}/css/night-mode.css" class="night-mode-css">
    <?php endif; ?>

    <script src="{{CONFIG theme_url}}/player/plugins/speed/speed.min.js" ></script>
    <link rel="stylesheet" href="{{CONFIG theme_url}}/player/plugins/speed/speed.min.css" id="style-css"/>
    <script src="{{CONFIG theme_url}}/player/plugins/speed/speed-i18n.js"></script>
    <script src="{{CONFIG theme_url}}/player/plugins/jump/jump-forward.min.js"></script>
    <link rel="stylesheet" href="{{CONFIG theme_url}}/player/plugins/jump/jump-forward.min.css" />
    <script src="{{CONFIG theme_url}}/player/plugins/ads/ads.min.js"></script>
    <link rel="stylesheet" href="{{CONFIG theme_url}}/player/plugins/ads/ads.min.css" />
    <script src="{{CONFIG theme_url}}/player/plugins/ads/ads-i18n.js"></script>
    <script src="{{CONFIG theme_url}}/player/plugins/vast/ads-vast-vpaid.js"></script>
    <script src="{{CONFIG theme_url}}/player/plugins/quality/quality.min.js"></script>
    <link rel="stylesheet" href="{{CONFIG theme_url}}/player/plugins/quality/quality.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/renderers/facebook.min.js"></script>
    <script src="{{CONFIG theme_url}}/js/Fingerprintjs2/fingerprint2.js"></script>

    <script src= "https://player.twitch.tv/js/embed/v1.js"></script>

    <?php if ($pt->page == 'login' && $pt->config->recaptcha == 'on') { ?>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <?php } ?>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <?php if (!empty($pt->config->google)) { ?>
     <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{CONFIG google}}', 'auto');
      ga('send', 'pageview');
    </script>
    <?php } ?>
    <script>
        var site_url = '{{CONFIG site_url}}';
        function PT_Ajax_Requests_File() {
          return site_url + '/';
        }
        function PT_Page_Loading_File() {
          return site_url + '/page_loading.php';
        }
        function OpenShareWindow(url, windowName) {
           newwindow = window.open(url, windowName, 'height=600,width=800');
           if (window.focus) {
              newwindow.focus();
           }
           return false;
        }
        function getCookie(name) {
          var value = "; " + document.cookie;
          var parts = value.split("; " + name + "=");
          if (parts.length == 2) return parts.pop().split(";").shift();
        }
    </script>
    <script src="{{CONFIG theme_url}}/js/header.js"></script>
    <!-- GOOGLE ANALYTICS -->
<!--	<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y0W2QVEC1V"></script>-->
<!--	<script>-->
<!--	window.dataLayer = window.dataLayer || [];-->
<!--	function gtag(){dataLayer.push(arguments);}-->
<!--	gtag('js', new Date());-->
<!--	gtag('config', 'G-Y0W2QVEC1V');-->
<!--	</script>-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3E286CVE50"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3E286CVE50');
    </script>
</head>
<script type="text/javascript">
  $(document).on('click', 'a[data-load]', function(event) {
    $('#bar_loading').show();
      // event.preventDefault();
      return;
      var url = $(this).attr('data-load');
      if ($('video').length > 0) {
        $('video')[0].pause();
      }
      $.ajax({
        url: PT_Page_Loading_File()+url,
        type: 'GET',
        dataType: 'html'
      })
      .done(function(data_html) {
        if ($(data_html).filter('#json-data').length > 0) {
            if (typeof(ads_) != 'undefined') {
              clearInterval(ads_);
            }

            data = JSON.parse($(data_html).filter('#json-data').val());



            (data.page == 'home') ? $('#home_menu_').addClass('active') : $('#home_menu_').removeClass('active');
            (data.page == 'history') ? $('#history_menu_').addClass('active') : $('#history_menu_').removeClass('active');
            (data.page == 'articles') ? $('#articles_menu_').addClass('active') : $('#articles_menu_').removeClass('active');
            (data.page == 'latest') ? $('#latest_menu_').addClass('active') : $('#latest_menu_').removeClass('active');
            (data.page == 'trending') ? $('#trending_menu_').addClass('active') : $('#trending_menu_').removeClass('active');
            (data.page == 'paid-videos') ? $('#paid_videos_').addClass('active') : $('#paid_videos_').removeClass('active');
            (data.page == 'top') ? $('#top_menu_').addClass('active') : $('#top_menu_').removeClass('active');
            (data.page == 'movies') ? $('#movies_menu_').addClass('active') : $('#movies_menu_').removeClass('active');
            (data.page == 'tv') ? $('#popular_channels_menu_').addClass('active') : $('#popular_channels_menu_').removeClass('active');


            window.history.pushState({state:'new'},'', data.url);
            $('#container_content').html(data_html);
            $('meta[name=title]').attr('content', data.title);
            $('meta[name=description]').attr('content', data.description);
            $('meta[name=keywords]').attr('content', data.keyword);
            $('title').text(data.title);
            var main_container_class = 'main-content ';
            (data.page != 'login') ? main_container_class += ' container ' : main_container_class += ' welcome-page ';
            if (data.is_movie == true) {
              $('.toggle-mode').hide();
              $('.logo-img img').attr('src', '{{CONFIG theme_url}}/img/logo-light.png');
              (data.page == 'watch') ? main_container_class += ' movies-container ' : main_container_class += ' ';
            }
            else{
              if ($('#toggle-mode').prop( "checked" ) === true) {
                $('.logo-img img').attr('src', '{{CONFIG theme_url}}/img/logo-light.png');
              }
              else{
                $('.logo-img img').attr('src', '{{CONFIG theme_url}}/img/logo.png');
              }
              $('.toggle-mode').show();
              (data.page == 'watch') ? main_container_class += ' watch-container ' : main_container_class += ' ';
            }

      			(data.page == 'movie') ? main_container_class += ' movies-container ' : main_container_class += ' ';
                  (data.page == 'go_pro') ? main_container_class += ' p-relative ' : main_container_class += ' ';
      			(data.page == 'home') ? main_container_class += ' home-container ' : main_container_class += ' ';
            $('#main-container').attr('class',main_container_class);
            (data.page == 'messages') ? $('#header_ad_').attr('class','hidden') : $('#header_ad_').attr('class','ads-placment');
            (data.page == 'messages') ? $('#footer_ad_').attr('class','hidden') : $('#footer_ad_').attr('class','ads-placment');
            (data.page == 'watch') ? $('#header_change_2').attr('class','container watch-container') : $('#header_change_2').attr('class','container');
            (data.page == 'watch') ? $('#header_change_3').attr('class','container watch-container') : $('#header_change_3').attr('class','container');
          }
          else{
            window.location.href = site_url+'/login';
          }
      })
      .fail(function() {
        if (typeof(getCookie('user_id')) == 'undefined') {
          window.location.href = site_url+'/login';
        }
        else{
          window.location.href = site_url+'/404';
        }
      })
      .always(function() {
        window.scrollTo(0,0);
        $('#bar_loading').delay(300).fadeOut(300);
        $(".video-player").hover(
            function(e){
              $('.watermark').css('display', 'block');
             },
            function(e){
              setTimeout(function () {
                if ($('.video-player:hover').length == 0) {
                  $('.watermark').css('display', 'none');
                }
              }, 1000);
             }
        );
      });
  });
  function load_more_sub() {
    var id = $('.subscribers_').last().attr('data_subscriber_id');
    var user_id = '{{ME id}}';
    $.post(PT_Ajax_Requests_File()+'aj/user/get_more_subscribers_', {id: id,user_id:user_id}, function(data, textStatus, xhr) {
      if (data.status == 200) {
        if (data.html != '') {
          $('.user_subscribers_').append(data.html);
        }
        else{
          $('#user_subscribers__load').html('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M17,13H7V11H17V13Z" /></svg> {{LANG no_more_s_to_show}}');
        }

      }

    });
  }
</script>

<body itemscope itemtype="http://schema.org/Organization" id="pt-body">
  <a href="" id="link_redirect_to_page"  data-load=""></a>
  <div id="bar_loading"></div>
  <?php if ($pt->page == 'upload-video-api' && $pt->page == 'dashboard-api'): ?>
  <style>
    .wo_about_wrapper_parent {top: 0 !important;}
  </style>
  <?php endif; ?>
  <input type="hidden" class="main_session" value="<?php echo PT_CreateMainSession();?>">
  <?php if ($pt->page != 'upload-video-api' && $pt->page != 'dashboard-api'): ?>
  {{HEADER_LAYOUT}}
  <?php endif; ?>
  <?php if ($pt->page != 'home'): ?>
      <div id="main-container" class="<?php echo ($pt->page != 'login') ? 'container' : 'welcome-page';?> <?php echo ($pt->page == 'watch' && empty($pt->get_video->is_movie)) ? 'watch-container' : '';?> <?php echo (!empty($pt->get_video->is_movie)) ? 'movies-container' : '';?> <?php echo ($pt->page == 'go_pro') ? 'p-relative' : '';?> <?php echo ($pt->page == 'home') ? 'home-container' : '';?> main-content bg-day" {{IS_LOGGED}} >
          <?php if ($pt->page != 'upload-video-api' && $pt->page != 'dashboard-api'): ?>
          <div class="<?php echo ($pt->page == 'messages') ? 'hidden' : 'ads-placment';?>" id="header_ad_">{{HEADER_AD}}</div>
          <div class="announcement-renderer">
              {{ANNOUNCEMENT}}
          </div>
          <?php endif; ?>
          <div id="container_content">
              {{CONTAINER_CONTENT}}
          </div>
          <input type="hidden" id="main-url" value="{{MAIN_URL}}">
          <?php if ($pt->page != 'upload-video-api' && $pt->page != 'dashboard-api'): ?>
          <div class="<?php echo ($pt->page == 'messages') ? 'hidden' : 'ads-placment';?>" id="footer_ad_">{{FOOTER_AD}}</div>
          <?php endif; ?>
      </div>
  <?php endif; ?>
  <?php if ($pt->page == 'home'): ?>
    {{CONTAINER_CONTENT}}
  <?php endif; ?>
  <?php if ($pt->page != 'upload-video-api' && $pt->page != 'dashboard-api'): ?>
  {{FOOTER_LAYOUT}}
  <?php endif; ?>



	<!-- JS FILES -->
    <?php if ($pt->page == 'watch') {?>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10&appId=1755264744788554";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
    <?php } ?>
    {{EXTRA_JS}}
	<script type="text/javascript" src="{{CONFIG theme_url}}/js/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{CONFIG theme_url}}/js/bootstrap.min.js"></script>
  <script src="{{CONFIG theme_url}}/js/bootstrap-toggle.min.js"></script>
    <script src="{{CONFIG theme_url}}/js/footer.js"></script>
    <link rel="" ="">
    <script>
      $(window).on("popstate", function (e) {
          location.reload();
      });
    $(document).ready(function(){
        $('.share-video a').click(function (e) {
            e.preventDefault();
        });
        $("label.switch").on('click',function () {
            let k;
            if ($(this).find('input.mode-js').prop( "checked" ) === true) {
                k = false;
            }else{
                k = true;
            }
            $('input.mode-js:eq(0)').prop( "checked" , k);
            $('input.mode-js:eq(1)').prop( "checked" , k);
       });
        $('.dropdown-toggle').dropdown();

        $(".mode-js").change(function(event) {
            var mode = 'day';
            if ( $(this).prop( "checked" ) === true) {
              mode = 'night';
                $(".night-mode-css").remove();
                $('.logo-img img').attr('src', '{{CONFIG theme_url}}/img/logo.png');
             $('<link>',{
               rel:'stylesheet',
               href:'{{CONFIG theme_url}}/css/night-mode.css',
               class:'night-mode-css'
             }).insertAfter('link#style-css');
             $('.logo-img img').attr('src', '{{CONFIG theme_url}}/img/logo-light.png');
            }
            else{
              $(".night-mode-css").remove();
              $('.logo-img img').attr('src', '{{CONFIG theme_url}}/img/logo.png');
            }


            $.post('{{LINK }}', {mode: mode}, function(data, textStatus, xhr) { /* pass */ });
        });
        $("li.toggle-mobile-mode").click(function(event) {
            var mode = $(this).attr('data-mode');

            $.post('{{LINK }}', {mode: mode}, function(data, textStatus, xhr) {
              location.reload();
            });
        });
    });
   </script>
	<?php if (IS_LOGGED == true) { ?>
	<audio id="message-sound" class="sound-controls" preload="auto">
		<source src="{{CONFIG theme_url}}/mp3/unconvinced.mp3" type="audio/mpeg">
		<source src="{{CONFIG theme_url}}/mp3/unconvinced.ogg" type="audio/ogg">
	</audio>


<!--	<div class="fixed-action-btn">-->
<!--		<span id="btn-fab-main" class="btn-fab-floating"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></span>-->
<!--		<ul>-->
<!--			<?php if ($pt->config->upload_system == 'on') { ?>-->
<!--			<li data-toggle="tooltip" data-placement="left" title="{{LANG upload}}">-->
<!--				<a href="{{LINK upload-video}}?type=video" class="btn-floating"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-upload" color="#d84c47"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="17 8 12 3 7 8"></polyline><line x1="12" y1="3" x2="12" y2="15"></line></svg></a>-->
<!--			</li>-->
<!--            <?php if($pt->user->admin === 1){ ?>-->
<!--            <li data-toggle="tooltip" data-placement="left" title="{{LANG upload_movie}}">-->
<!--                <a href="{{LINK upload-video}}?type=cinema" class="btn-floating"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-upload" color="#d84c47"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="17 8 12 3 7 8"></polyline><line x1="12" y1="3" x2="12" y2="15"></line></svg></a>-->
<!--            </li>-->
<!--            <li data-toggle="tooltip" data-placement="left" title="{{LANG upload_music}}">-->
<!--                <a href="{{LINK upload-music}}" class="btn-floating"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-upload" color="#d84c47"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="17 8 12 3 7 8"></polyline><line x1="12" y1="3" x2="12" y2="15"></line></svg></a>-->
<!--            </li>-->
<!--            <?php } ?>-->
<!--			<?php } ?>-->
<!--			&lt;!&ndash;<?php if ($pt->config->import_system == 'on') { ?>&ndash;&gt;-->
<!--			&lt;!&ndash;<li data-toggle="tooltip" data-placement="left" title="{{LANG import}}">&ndash;&gt;-->
<!--				&lt;!&ndash;<a href="{{LINK import-video}}" class="btn-floating" data-load="?link1=import-video"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download-cloud" color="#2fc1bc"><polyline points="8 17 12 21 16 17"></polyline><line x1="12" y1="12" x2="12" y2="21"></line><path d="M20.88 18.09A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.29"></path></svg></a>&ndash;&gt;-->
<!--			&lt;!&ndash;</li>&ndash;&gt;-->
<!--			&lt;!&ndash;<?php } ?>&ndash;&gt;-->
<!--		</ul>-->
<!--	</div>-->


	<script>
		$('#btn-fab-main').on('touchstart click', function() {
			if ($(this).hasClass('active')) {
				$(this).removeClass('active');
				$(this).addClass('reverse-animation');
			} else {
				$(this).removeClass('reverse-animation');
				$(this).addClass('active');
			}
			return false;
		});

		var pxScrolled = 180;
		$(window).scroll(function() {
			if ($(this).scrollTop() > pxScrolled) {
				$('.fixed-action-btn').css({'bottom': '35px', 'transition': '.3s'});
			} else {
				$('.fixed-action-btn').css({'bottom': '-60px'});
			}
		});
	</script>
	<?php } ?>
  <?php if ($pt->page != 'upload-video-api' && $pt->page != 'dashboard-api'): ?>
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
      <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
      <script>
      window.addEventListener("load", function(){
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#fff",
            "text": "#333"
          },
          "button": {
            "background": "#04abf2",
            "text": "#fff"
          }
        },
        "theme": "edgeless",
        "position": "right-bottom",
        "content": {
          "message": "{{LANG cookie_message}}",
          "dismiss": "{{LANG cookie_dismiss}}",
          "link": "{{LANG cookie_link}}",
          "href": "{{LINK terms/privacy-policy}}"
        }
      })});
      </script>
      <?php endif;?>
      <script type="text/javascript">
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires="+d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        <?php if (empty($_COOKIE['r'])) { ?>
          $.ajax({
            url: 'https://extreme-ip-lookup.com/json/',
            type: 'GET',
            dataType: 'json'
          })
          .done(function(data) {
            if (data.status == 'success') {
              setCookie('r', window.btoa(data.continent), 1);
              <?php if ($pt->page == 'watch') { ?>
                $('#redirect_to_video_page').click();
              <?php } ?>
            }
            else{
              setCookie('r', window.btoa('string'), 1);
              <?php if ($pt->page == 'watch') { ?>
                $('#redirect_to_video_page').click();
              <?php } ?>
            }
          })
          .fail(function() {
            setCookie('r', window.btoa('string'), 1);
            <?php if ($pt->page == 'watch') { ?>
              $('#redirect_to_video_page').click();
            <?php } ?>
          })
          .always(function() {
          });
          // $.get('https://extreme-ip-lookup.com/json/', function(data) {
          //   if (data.status == 'success') {
          //     setCookie('r', window.btoa(data.continent), 1);
          //     <?php if ($pt->page == 'watch') { ?>
          //       $('#redirect_to_video_page').click();
          //     <?php } ?>
          //   }
          //   else{
          //     setCookie('r', window.btoa('string'), 1);
          //     <?php if ($pt->page == 'watch') { ?>
          //       $('#redirect_to_video_page').click();
          //     <?php } ?>
          //   }
          // });
        <?php } ?>
      </script>
      <?php
      if (empty($_SESSION['finger']) && $pt->page != 'watch') {
      ?>
      <script>
         var fingerprintReport = function () {
            Fingerprint2.get(function(components) {
              var murmur = Fingerprint2.x64hash128(components.map(function (pair) { return pair.value }).join(), 31)
              $.post('{{LINK aj/views}}?hash=' + $('.main_session').val()+'&type_=set', {finger: murmur}, function(data, textStatus, xhr) {
              });
            })
         }
         fingerprintReport();
      </script>
    <?php } ?>

  <?php if (IS_LOGGED): ?>
  <script>
      jQuery(document).ready(function($) {
          pt_get_notifications({type:'new'});

          $("#get-notifications").click(function(event) {
              if ($('#notifications').css('display') == 'none') {
                  var notfi_cont = $("ul.notfi-dropdown");

                  if ($("span#new-notifications").html() != '') {
                      $(this).find('span#new-notifications').empty();
                  }

                  pt_get_notifications({sa:1});
              }
          });

          setInterval(function(){
              pt_get_notifications({type:'new'});
          }, 6000);
      });

      function pt_get_notifications(args){
          if (!args) {
              args = {};
          }
          var notfi_cont = $("ul.notfi-dropdown");
          var notfi_set  = $("ul#notifications");

          defparams = {
              type: false,
              sa:false
          }

          options = Object.assign(defparams,args);
          data    = {'hash':$('.main_session').val()};

          if (options['type']) {
              data['t'] = options['type'];
          }

          if (options['sa']) {
              data['sa'] = options['sa'];
              notfi_set.find('i.spin').removeClass('hidden');
          }

          $.ajax({
              url: '{{LINK aj/get_notifications}}',
              type: 'GET',
              dataType: 'json',
              data:data
          })
              .done(function(data) {
                  if (data.status == 200) {
                      if (data.new) {
                          $("span#new-notifications").html($('<b>',{
                              text:data.new
                          }));
                      }
                      else{
                          notfi_set.find('b').text(data.len);
                          notfi_set.find('ul').html(data.html);
                      }
                  }
                  else if(data.status == 304 && options['sa']){
                      notfi_set.find('ul').html($("<li>",{
                          class:'no-notifications',
                          text: "{{LANG no_notifications}}"
                      }));
                  }

                  if (data.count_messages > 0) {
                      $('.js-new-messages').html('<b>' + data.count_messages + '</b>');
                  } else {
                      $('.js-new-messages').html('');
                  }

                  if (options['sa']) {notfi_set.find('i.spin').addClass('hidden');}

              })
              .fail(function() {
                  console.log("error");
              });
      }
  </script>
  <?php endif ?>

</body>
</html>
