<div class="col-md-3">
	<style>#video-{{ID}} .mv_img_shdw:before {
    background-image: url({{THUMBNAIL}});
}</style>
	<div class="video-wrapper" data-id="{{ID}}" id="video-{{ID}}">
		<a class="pt_mv_list_thumb" href="{{URL}}" data-load="?link1=listen&id={{VIDEO_ID_}}">
			<img src="{{THUMBNAIL}}" alt="{{TITLE}}">
			<span>
				<p>{{CAT}}</p>
				<svg class="feather feather-play" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
			</span>
		</a>
		<div class="mv_img_shdw"><div class="mv_pr_blck"></div></div>
		<div class="pt_mv_info">
			<div class="pt_mv_info_innr">
				<h3 style="text-align: center !important;"><a href="{{URL}}" data-load="?link1=listen&id={{VIDEO_ID_}}">{{TITLE}}</a></h3>
				<div>
					 <span>{{PUBLISH_YEAR}}</span> <span class="bold">{{YEAR}}</span>
				</div>
				<div>
					<span>{{singer}}</span> <span class="bold">{{PRODUCER}}</span>
				</div>
			</div>
		</div>
        <!--<div class="video-views vid_stud_stats">
			<p>{{DESC}}</p>
            <span>{{LANG stars}} : &nbsp;{{STARS}}</span>
            <br>
            <span>{{LANG producer}} : &nbsp;{{PRODUCER}}</span>
        </div>-->
		<div class="clear"></div>
	</div>
</div>