@font-face {
    font-family: 'Vazir';
    src: url('../fonts/hinted-Vazir-Bold-FD.eot');
    src: url('../fonts/hinted-Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-Vazir-Bold-FD.woff2') format('woff2'),
        url('../fonts/hinted-Vazir-Bold-FD.woff') format('woff'),
        url('../fonts/hinted-Vazir-Bold-FD.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/hinted-Vazir-Light-FD.eot');
    src: url('../fonts/hinted-Vazir-Light-FD.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-Vazir-Light-FD.woff2') format('woff2'),
        url('../fonts/hinted-Vazir-Light-FD.woff') format('woff'),
        url('../fonts/hinted-Vazir-Light-FD.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/hinted-Vazir-FD.eot');
    src: url('../fonts/hinted-Vazir-FD.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-Vazir-FD.woff2') format('woff2'),
        url('../fonts/hinted-Vazir-FD.woff') format('woff'),
        url('../fonts/hinted-Vazir-FD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/hinted-Vazir-Black-FD.eot');
    src: url('../fonts/hinted-Vazir-Black-FD.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-Vazir-Black-FD.woff2') format('woff2'),
        url('../fonts/hinted-Vazir-Black-FD.woff') format('woff'),
        url('../fonts/hinted-Vazir-Black-FD.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

