<div class="container login-page">
	<div class="login-form">
<!--		<h4>{{LANG lets_get_started}}</h4>-->
		<form action="{{LINK loginWithPhone}}" id="loginWithPhone-form" method="POST">
			<div class="errors form-group">{{ERRORS}}</div>
			<div class="errors success form-group">{{SUCCESS}}</div>
			<div class="form-group">
				<input type="text" name="mobile" id="mobile" placeholder="{{LANG mobile}}" required value="{{MOBILE}}" style="text-align: left;direction: ltr;border: solid 1px #000;color: #000;background-color: rgb(220, 214, 40);">
				<input type="hidden" value="<?php echo @$_GET['inviteCode'] ?>" name="inviteCode">
			</div>
			<div class="recaptcha">{{RECAPTCHA}}</div>
			<div class="form-group">
				<input type="submit" style="float:right;width: 49%;" class="button" value ="{{LANG login_}}">
				<a href="{{LINK login}}"><input  style="float:left;width: 49%;" type="button" class="button" value ="{{LANG login_with_password}}"></a>
			</div>
			<input type="hidden" id="recaptcha-hidden-token">
<!--			<div class="new-here text-center">-->
<!--				{{LANG new_here}} <a class="dec" href="{{LINK register}}">{{LANG sign_up}}</a>-->
<!--			</div>-->
		</form>
	</div>
</div>
<ul class="bg-bubbles">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>
<script>
	$(function() {
		$('.button').on('click', function () {
			if($(this).attr('type') == "button"){
				$(this).val("{{LANG please_wait}}");
				return;
			}
			if ($('#mobile').val()) {
				$(this).val("{{LANG please_wait}}");
			}
		});
	});
	$("#loginWithPhone-form").submit(function () {
		let status = false;
		let token = $("#recaptcha-hidden-token").val();
		$.ajax({
			url: "https://www.google.com/recaptcha/api/siteverify",
			type: post,
			dataType: "json",
			data: {"response": token, "secret": "6LcfzM4ZAAAAALdSycjO368S4g6ZPFMAGegShfS5"},
			success: function (data) {
				status = data.success;
			}
		});
		if(!status)
			return false;
	});
	function correctCaptcha(token){
		$("#recaptcha-hidden-token").val(token);
	}
	$(".main-container").css('background-color', '#9c9c9c !important')
</script>
<style>
	.bg-bubbles {
	background: -webkit-linear-gradient(top left, #{{COLOR1}} 0%, #{{COLOR2}} 100%);
	background: linear-gradient(to bottom right, #{{COLOR1}} 0%, #{{COLOR2}} 100%);
	}
	.login-page {
		margin-top: 150px;
	}
	.login-page .login-form input[type=submit], .login-page .login-form input[type=button] {
	color: #{{COLOR1}};
	}
	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    #fff;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #fff;
	opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #fff;
	opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:    #fff;
	}
	::-ms-input-placeholder { /* Microsoft Edge */
	color:    #fff;
	}

	.main-container{
		background-color: #9c9c9c !important;
	}
</style>