<div class="container login-page">
    <div class="login-form">
        <h4>{{LANG lets_get_started}}</h4>
    	<form action="{{LINK register}}" id="register-form" method="POST">
    	    <div class="errors form-group">{{ERRORS}}</div>
    	     <div class="errors success form-group">{{SUCCESS}}</div>
			<div class="form-group">
				<input type="text" name="mobile" id="mobile" placeholder="{{LANG mobile}}" required value="{{MOBILE}}" style="text-align: left;direction: ltr;border: solid #dcd628;color: #000;">
			</div>
			{{CUSTOM_FIELDS}}
			<div class="terms" style="color: #fff">
		      <label for="accept_terms" style="font-size: 12px;color: #000; cursor: pointer;"><input type="checkbox" style="float: right; width: auto; display: inline-block; margin-right: 5px; margin-top: 2px;" name="accept_terms" id="accept_terms">
		       {{LANG terms_agreement}}
		       <a style="color: #c3c394; text-decoration: underline;" href="{{LINK terms/terms}}">{{LANG terms_of_use}}</a> & <a href="{{LINK terms/privacy-policy}}" style="color: #c3c394; text-decoration: underline;">{{LANG privacy_policy}}</a>
		       </label>
		       <div class="clear"></div>
		     </div>

			<div class="recaptcha">{{RECAPTCHA}}</div>
			<input type="hidden" id="recaptcha-hidden-token">
			<div class="form-group">
				<input type="submit" class="button" value ="{{LANG sign_up}}" style="background-color: #dcd628 !important;">
			</div>
		</form>
    </div>    
</div>
<ul class="bg-bubbles">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>
<script>
$(function() {
	$('.button').on('click', function () {
		if ($('#mobile').val()) {
			$(this).val("{{LANG please_wait}}");
		}
	});
});
$("#register-form").submit(function () {
	let status = false;
	let token = $("#recaptcha-hidden-token").val();
	$.ajax({
		url: "https://www.google.com/recaptcha/api/siteverify",
		type: post,
		dataType: "json",
		data: {"response": token, "secret": "6LcfzM4ZAAAAALdSycjO368S4g6ZPFMAGegShfS5"},
		success: function (data) {
			status = data.success;
		}
	});
	if(!status)
		return false;
});
function correctCaptcha(token){
	$("#recaptcha-hidden-token").val(token);
}
$(".main-container").css('background-color', '#9c9c9c !important')
</script>
<style>
.bg-bubbles {
  background: -webkit-linear-gradient(top left, #{{COLOR1}} 0%, #{{COLOR2}} 100%);
  background: linear-gradient(to bottom right, #{{COLOR1}} 0%, #{{COLOR2}} 100%);
}
.login-page {
	margin-top: 150px;
}
.login-form input[type=submit] {
	color: #{{COLOR1}} !important;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

	.main-container{
		background-color: #9c9c9c !important;
	}
</style>