<nav class="navbar navbar-findcond navbar-fixed-top header-layout">
    <div class="container <?php echo ($pt->page == 'watch') ? 'watch-container' : '';?>">
		<div class="navbar-header pull-left-mobile">
			<a class="navbar-brand logo-img" href="{{LINK }}" itemprop="url"><img itemprop="logo" src="{{CONFIG theme_url}}/img/logo.png" alt="{{CONFIG title}}"></a>
			<form class="navbar-form navbar-left search-header" role="search" action="{{LINK search}}" method="GET">
                <div class="form-group">
                    <input type="text" class="form-control" id="search-bar" name="keyword" placeholder="{{LANG search_keyword}}" autocomplete="off"> 
                    <i class="fa fa-search" onclick="javascript:$('.search-header input').focus();"></i>
                </div>
                <div class="search-dropdown hidden"></div>
            </form>
		</div>
		<div class="pull-right-mobile">
			<ul class="nav navbar-nav navbar-right">
				<li class="show-in-mobile">
				   <a href="#" class="search-icon"><i class="fa fa-search fa-fw"></i> </a>
				</li>
			    <?php if ($pt->config->upload_system == 'on') { ?> 
			    <li class="hide-from-mobile">
				   <a href="{{LINK upload-video}}" class="upload-button"><i class="fa fa-upload fa-fw"></i> <span class="hide-in-mobile">{{LANG upload}}</span></a>
				</li>
				<?php } ?>
				<?php if ($pt->config->import_system == 'on') { ?> 
			    <li class="hide-from-mobile">
				   <a href="{{LINK import-video}}" class="import-button"><i class="fa fa-cloud-download fa-fw"></i> <span class="hide-in-mobile">{{LANG import}}</span></a>
				</li>
				<?php } ?>
				{{SIDE_HEADER}}
			</ul>
		</div>
	</div>
</nav>
<nav class="navbar navbar-findcond navbar-fixed-top header-layout hidden search-bar" style="margin-top: 49px;">
    <div class="container <?php echo ($pt->page == 'watch') ? 'watch-container' : '';?>">
		<div class="navbar-header">
			<form class="search-header-mobile" role="search" action="{{LINK search}}" method="GET">
                <div class="form-group">
                    <input type="text" class="form-control" id="search-bar-mobile" name="keyword" placeholder="{{LANG search_keyword}}" autocomplete="off"> 
                </div>
                <div class="search-dropdown hidden"></div>
            </form>
		</div>
	</div>
</nav>
<?php if ($pt->page != 'login') { ?>
<nav class="navbar navbar-findcond navbar-default second-header-layout">
    <div class="container <?php echo ($pt->page == 'watch') ? 'watch-container' : '';?>">
		<div class="navbar-inner" id="navbar">
			<ul class="nav navbar-nav">
			    <li class="hide-from-mobile <?php echo ($pt->page == 'home') ? 'active': '';?>">
					<a href="{{LINK }}"> {{LANG home}}</a>
				</li>
				<li class="hide-from-mobile <?php echo ($pt->page == 'latest') ? 'active': '';?>">
					<a href="{{LINK videos/latest}}">{{LANG latest_videos}}</a>
				</li>
				<li class="hide-from-mobile <?php echo ($pt->page == 'top') ? 'active': '';?>">
					<a href="{{LINK videos/top}}">{{LANG top_videos}}</a>
				</li>
				<li class="hide-from-mobile <?php echo ($pt->page == 'trending') ? 'active': '';?>">
					<a href="{{LINK videos/trending}}">{{LANG trending}}</a>
				</li>
				<li class="dropdown hide-from-mobile <?php echo ($pt->page == 'category') ? 'active': '';?>">
				   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{LANG categories}} <span class="caret"></span></a>
				   <ul class="dropdown-menu categories-drop-down" role="menu">
				    <?php foreach($pt->categories as $key => $category) { 
					    if ($key < 11) { ?>
					    <li class="hide-from-mobile">
						   <a class="category" href="{{LINK videos/category/<?php echo $key?>}}"><?php echo $category?></a>
						</li>
					<?php } }?>
				   </ul>
				</li>
				<li class="dropdown hide-from-mobile <?php echo ($pt->page == 'articles') ? 'active': '';?>">
				   <a href="{{LINK articles}}">{{LANG articles}}</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<?php } ?>

<script>
$('.search-icon').on('click', function(event) {
	event.preventDefault();
	$('.search-bar').toggleClass('hidden');
});
$('#search-bar').keyup(function(event) {
	var search_value = $(this).val();
	var search_dropdown = $('.search-dropdown');
	if (search_value == '') {
		search_dropdown.addClass('hidden');
		search_dropdown.empty();
		return false;
	} else {
		search_dropdown.removeClass('hidden');
	}
    $.post('{{LINK ajax/search}}', {search_value: search_value}, function(data, textStatus, xhr) {
    	if (data.status == 200) {
    		search_dropdown.html(data.html); // '<div class="search-result"><a href="#">' +search_value + '</a></div>'
    	} else {
	       search_dropdown.addClass('hidden');
		   search_dropdown.empty();
		   return false;
    	}
    });
});
</script>