/*Fonts CSS*/
@font-face {
    font-family: IranSans;
    src: url("../fonts/IRANSansNu.ttf");
}
/*Header #top_main_header CSS*/
header.main_header{
    position: relative;
    box-shadow: 0px 0px 16px 0px rgba(220,214,40,0.25);
    -webkit-box-shadow: 0px 0px 16px 0px rgba(220,214,40,0.25);
    -moz-box-shadow: 0px 0px 16px 0px rgba(220,214,40,0.25);
}
header.main_header #top_main_header{
    padding: 10px 0px;
    border-bottom: 2px solid var(--ucolor-1);
}
/*#top_main_header Search Fields CSS*/
#top_main_header #responsive_sign{
    display: none;
}
#top_main_header .search_field{
    position: relative;
}
#top_main_header .search_field .input_search_btn{
    position: absolute;
    border: none;
    background: transparent;
    right: 15px;
}
#top_main_header .search_field .input_search_btn img{
    width: 20px;
}
 #top_main_header .search_field input{
     padding: 7px 14px;
     padding-right: 40px;
     border-radius: 5px;
     outline: none;
     border: 1px solid #d2d2d2;
     width: 100%;
     position: relative;
     /*top: 20px;*/
     color: #7d7c7c;
 }
#top_main_header .search_field input::placeholder{
    color: #d2d2d2;
}
#top_main_header .search_field input:-ms-input-placeholder{
    color: #d2d2d2;
}
#top_main_header .search_field input::-ms-input-placeholder{
    color: #d2d2d2;
}
/*#top_main_header Sign Fields CSS*/
#top_main_header .sign_field{
    text-align: left;
}
#top_main_header .sign_field a{
    padding: 5px 30px;
    /*color: #444444;*/
    position: relative;
    top: 27px;
}
#top_main_header .sign_field a.login_link{
    background: #dcd628;
    border-radius: 5px;
}

header.main_header #nav_main_header{
    background: var(--ucolor-3);
    min-height: 42px;
    box-shadow: 0px 0px 16px 0px rgba(220,214,40,0.25);
    -webkit-box-shadow: 0px 0px 16px 0px rgba(220,214,40,0.25);
    -moz-box-shadow: 0px 0px 16px 0px rgba(220,214,40,0.25);
}
header.main_header #nav_main_header .navbar{
    min-height: 42px;
    width: 100%;
    padding: 0;
}
header.main_header #nav_main_header .navbar .nav-item{
    margin: 0px 0px 0px 45px;
    border-bottom: 2px solid transparent;
}
header.main_header #nav_main_header .navbar .nav-item img{
    width: 20px;
    margin-left: 10px;
}
.navbar-toggler{
    outline: none;
    border: none;
}
.navbar-light .navbar-toggler{
    outline: none !important;
}
.navbar-light .navbar-toggler-icon{
    background-image: url("../img/menu.svg");
}
/*Main Style*/
main.main_content{
    background: #f3f3f3;
}
main.main_content .box a .box_field{
    background: #ffffff;
    height: 240px;
    margin: 30px 50px;
    box-shadow: 0px 0px 10px 0px rgba(166,166,166,0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(166,166,166,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(166,166,166,0.75);
    position: relative;
    padding: 35px 0px;
    border-radius: 5px;
}
main.main_content .box a:hover .box_field{
    box-shadow: 0px 0px 10px 0px rgba(220,214,40,0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(220,214,40,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(220,214,40,0.75);
}
main.main_content .box a .box_field img{
    width: 96px;
}
main.main_content .box a .box_field h2{
    font-size: 20px;
    position: absolute;
    bottom: 35px;
    right: 0;
    width: 100%;
    color: #444444;
}
/*Footer Style*/
footer.main_footer{
    padding: 30px 0px;
}
footer.main_footer p{
    color: #a9a9a9;
}
footer.main_footer a{
    color: #444444;
}

body{
    font-family: IranSans !important;
    /*background-color: #fff;*/
    font-size: initial !important;
}
.watch-video-show-more{
    background-image: none;
    /*background-color: #dcd628;*/
    font-family: IranSans;
}