body.dark_mode{
    background: #0e0e0e;
    color: #fff;
}
.dark_mode main.main_content{
    background: #191919;
}
.dark_mode header.main_header #nav_main_header .navbar{
    background: #0e0e0e;
}
.dark_mode header.main_header #nav_main_header .navbar .nav-item{
    color: #ffffff;
}
header.main_header{
    box-shadow: none;
}
header.main_header #nav_main_header{
    box-shadow: none;
}
.navbar-light .navbar-toggler-icon{
    background-image: url("../img/menu-dark.svg");
}
.dark_mode #top_main_header .signup_link{
    color: #ffffff;
}
.dark_mode #top_main_header .search_field input{
    background: #1e1e1e;
    border: 1px solid #878787;
}
.dark_mode main.main_content .box a .box_field{
    background: #282828;
    box-shadow: none;
}
.dark_mode main.main_content .box a:hover .box_field{
    border: 1px solid #dcd628;
}
.dark_mode main.main_content .box a .box_field h2{
    color: #ffffff;
}
.dark_mode footer.main_footer a{
    color: #ffffff;
}