/****************************************************************           All Resolution Devices For Responsive Design          **************************************************************************************/

/*Media Query For Small Devices ( Most Of SmartPhones (portrait) )*/
@media (min-width: 320px) and (max-width: 480px){
    /*Main Header Style*/
    header.main_header #top_main_header{
        padding-bottom: 40px;
    }
    #top_main_header .logo_field img{
        width: 100px;
    }
    #top_main_header #responsive_sign{
        display: block;
    }
    #top_main_header #responsive_sign a{
        top: 10px;
        padding: 5px 15px;
    }
    #top_main_header .sign_field{
        display: none;
    }
    header.main_header #nav_main_header .navbar .nav-item{
        margin: 10px 15px 10px 45px;
        text-align: right;
    }
    /*Main Content Style*/
    main.main_content{
        padding: 35px 0px;
    }
    main.main_content .box a .box_field{
        height: 135px!important;
        margin: 20px 5px;
        padding: 15px 0px;
    }
    main.main_content .box a .box_field h2, main.main_content .box a .box_field.tv h2{
        bottom: 15px;
        font-size: 14px;
    }
    main.main_content .box a .box_field img{
        width: 60px !important;
    }
    /*Main Footer Style*/
    footer.main_footer p{
        font-size: 14px;
        text-align: justify;
    }
    footer.main_footer a{
        display: block;
        text-align: center;
    }
    .articles-content .pt_article_h_list .video-thumb {
        float: unset!important;
        margin: 0!important;
        display: block;
    }
    .author-list .video-wrapper .video-thumb img{
        width: 100%!important;
    }
    .chat-nav{
        margin-right: 44px!important;
        /*margin-top: 3px;*/
    }
}

/*Media Query For Low Resolution Tabletsm, Mobiles (Landscape)*/
@media (min-width: 481px) and (max-width: 767px){
    /*Main Header Style*/
    header.main_header #top_main_header{
        padding-bottom: 40px;
    }
    #top_main_header #responsive_sign{
        display: grid;
    }
    #top_main_header #responsive_sign a{
        top: 10px;
        padding: 5px 15px;
    }
    #top_main_header .sign_field:not(#responsive_sign){
        display: none !important;
    }
    header.main_header #nav_main_header .navbar .nav-item{
        margin: 10px 15px 10px 45px;
        text-align: right;
    }
    /*Main Content Style*/
    /*Main Footer Style*/
    footer.main_footer p{
        font-size: 14px;
        /*text-align: justify;*/
        height: 20px;
        float: right;
        width: 100%;
        text-align: center;
    }
    footer.main_footer a{
        display: block;
        text-align: center;
    }
}

/*Media Query For Tablets, Ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1060px) and (orientation: landscape){
    /*Main Header Style*/
    header.main_header #top_main_header{
        padding-bottom: 40px;
    }
    #top_main_header #responsive_sign{
        display: block;
    }
    #top_main_header #responsive_sign a{
        top: 30px;
        padding: 5px 15px;
    }
    #top_main_header .sign_field{
        display: none;
    }
    header.main_header #nav_main_header .navbar .nav-item{
        margin: 10px 15px 10px 45px;
        text-align: right;
    }
    /*Main Content Style*/
    /*Main Footer Style*/
    footer.main_footer p{
        font-size: 14px;
        text-align: right;
    }
    footer.main_footer a{
        display: block;
        text-align: left;
    }
}

/*Media Query For Tablets, Ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1060px){
    /*Main Header Style*/
    header.main_header #top_main_header{
        padding-bottom: 40px;
    }
    #top_main_header #responsive_sign{
        display: block;
    }
    #top_main_header #responsive_sign a{
        top: 30px;
        padding: 5px 15px;
    }
    #top_main_header .sign_field:not(#responsive_sign){
        display: none;
    }
    header.main_header #nav_main_header .navbar .nav-item{
        margin: 10px 15px 10px 45px;
        text-align: right;
    }
    /*Main Content Style*/
    /*Main Footer Style*/
    footer.main_footer p{
        font-size: 14px;
        text-align: right;
    }
    footer.main_footer a{
        display: block;
        text-align: left;
    }
}

/*Media Query For Laptops, Desktops*/
@media (min-width: 1025px) and (max-width: 1280px){

}
@media (min-width: 1060px) {
    .col-md-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-md-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}
    #top_main_header .search_field input {
        /*top: 20px !important;;*/
    }

    #top_main_header .search_field .input_search_btn {
        /*top: 28px !important;;*/
    }
    #top_main_header .search_field {
        margin-top: 0;
    }
    header.main_header #nav_main_header .navbar .nav-item{
        /*margin-left: 0 !important;*/
    }
    .sign_field{
        display: grid !important;
    }
    #responsive_sign{
        display: none !important;
    }
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

}
/*Media For Desktops*/
@media (min-width: 1281px){
    .main_content{
        min-height: 80vh;
    }
}
@media (min-width: 768px) and (max-width: 1060px){
    #top_main_header #responsive_sign{
        display: grid;
    }
    #top_main_header .sign_field:not(#responsive_sign){
        display: none !important;
    }
}
@media (max-width: 700px) {
    .pt_tv .author-list {
        display: flex;
    }
    .author-list .channels_list {
        width: 80% !important;
        right: 0;
        left: 0;
        margin: auto;
    }
}