@import '../bootstrap/bootstrap';

:root {
	--stanford-red: #8c1515;
	--stanford-red-font: #fff;
	--cambridge-orange: #baa20a;
	--cambridge-orange-font: #000;
	--harvard-red: #b0263d;
	--harvard-red-font: #fff;
}

.has-error-msg.invalid::before {
    content: attr(error-message);
    position: absolute;
    left: 0;
    z-index: 1;
    max-width: 100%;
    padding: .25rem .5rem;
    margin-top: .1rem;
    font-size: .875rem;
    color: #fff;
    background-color: rgba(220,53,69,.9);
    border-radius: .25rem;
    top: 100%;
    height: auto;
    white-space: break-spaces;
}

#currentFilters > button > input[type='text'] {
    background: transparent;
    color: inherit;
    border-style: dotted;
    width: 6ch;

    &:focus {
	    background: white;
	    color: black;
	}
}
#results .researcher-list .accordion-item{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	&.more .accordion-header {
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		> button {
		    border-top: 1px solid lightgray;
			border-top-left-radius: 15px;
			border-top-right-radius: 15px;

			&:hover {
			    border-color: #86b7fe;
			    outline: 0;
			    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .35);
			}
		}
	}
}
.filtered {display: none;}
.researcher-list .card-header {
    background-position: center;
    background-repeat: no-repeat;
}