<div class="col-md-4 channels_list" data-channel-id="{{ID}}" data-channel-views="{{VIEWS_COUNT}}">
	<a href="{{USER url}}" data-load="?link1=timeline&id={{USER username}}">
		<div class="user-wrapper vid_pop_channls" data-id="{{ID}}">
			<div class="video-thumb">
				<img src="{{USER avatar}}" alt="{{USER name}}">
			</div>
			<div class="video-title">
				<h3>{{USER name}}</h3>
				<h3><svg class="feather" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#4caf50" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg> {{SUB}} <!--{{LANG subscribers}}--></h3>
			</div>
		</div>
	</a>
</div>