<div class="profile-container">
	<div class="card-container">
		<div class="cover-container">

		{{PLAY_BOX}}

		</div>
		<?php if ($pt->isowner == true) { ?>
		<div class="edit-cover-container hidden">
			<!--<a href="{{LINK settings/avatar}}" data-load="?link1=settings&page=avatar"><i class="fa fa-camera"></i></a>-->
		</div>
		<?php } ?>
	</div>
	<div class="pt_chnl_info">
		<div class="avatar-container">
			<img src="{{USER avatar}}" alt="{{USER name}}">
		</div>
		<div class="info-container">
			<h4><a href="{{USER url}}" data-load="?link1=timeline&id={{USER username}}">{{USER name_v}}</a></h4>
			{{MESSAGE_BUTTON}}
<!--			<button class="btn btn-message" onclick="openFollowersBox()" style="color:var(&#45;&#45;font)">دنبال کنندگان</button>-->
		<div class="followBox">
			<div class="following" onclick="openFollowersBox('following')">
				<span>{{FOLLOWING}}</span>
				<span>following</span>
			</div>
			<div class="followers" onclick="openFollowersBox('follower')">
				<span>{{FOLLOWER}}</span>
				<span>followers</span>
			</div>
		</div>
		</div>
		<div class="subscribe-btn-container">
			{{SUBSCIBE_BUTTON}}
		</div>
	</div>

	<div class="links-container">
		<ul>
			<li>
				<a href="{{LINK @{{USER username}}?page=videos}}" class="<?php echo ($pt->second_page == 'videos') ? 'active' : ''?>" data-load="?link1=timeline&id={{USER username}}&page=videos">{{LANG videos}}</a>
			</li>
			{{CAT_BUTTON}}
<!--			<li>-->
<!--				<a href="{{LINK @{{USER username}}?page=play-lists}}" class="<?php echo ($pt->second_page == 'play-lists') ? 'active' : ''?>" data-load="?link1=timeline&id={{USER username}}&page=play-lists">{{LANG play_lists}}</a>-->
<!--			</li>-->
<!--			<li>-->
<!--				<a href="{{LINK @{{USER username}}?page=short-videos}}" class="<?php echo ($pt->second_page == 'short-videos') ? 'active' : ''?>" data-load="?link1=timeline&id={{USER username}}&page=short-videos">{{LANG short_video_lists}}</a>-->
<!--			</li>-->
			<!--<li>-->
				<!--<a href="{{LINK @{{USER username}}?page=liked-videos}}" class="<?php echo ($pt->second_page == 'liked-videos') ? 'active' : ''?>" data-load="?link1=timeline&id={{USER username}}&page=liked-videos">{{LANG liked_videos}}</a>-->
			<!--</li>-->
<!--			<li>-->
<!--				<a href="{{LINK @{{USER username}}?page=about}}" class="<?php echo ($pt->second_page == 'about') ? 'active' : ''?>" data-load="?link1=timeline&id={{USER username}}&page=about">{{LANG about_profile}}</a>-->
<!--			</li>-->
		</ul>
	</div>
<!--	<div class="scrolling-wrapper" id="nav_main_header" style="margin-top: 10px">-->
<!--		{{CHANNEL _ CATS}}-->
<!--	</div>-->
<!--	<div class="scrolling-wrapper" id="nav_sub_header" style="margin-top: 10px">-->
<!--		{{CHANNEL _ SUBCATS}}-->
<!--	</div>-->
	<div class="page-container content pt_shadow">
		{{SECOND_PAGE}}
	</div>
	<input type="hidden" id="profile-id" value="{{USER id}}">
</div>
{{CATEGORY_PANEL}}
<div class="followerBox" id="followerBox" data-uid="{{USER_ID}}">
	<div class="followerBoxBG"></div>
	<div class="followerBoxContent">
		<div class="followerHeader">
			<span class="followerHeaderSpan followingsButton" data-target="followingsContent">followings</span>
			<span class="followerHeaderSpan followersButton active" data-target="followersContent">followers</span>
		</div>
		<div class="followerContent">
			<ul class="followerContentItem followingsContent" id="followingsContent"></ul>
			<ul class="followerContentItem followersContent active" id="followersContent"></ul>
		</div>
	</div>
</div>
<script>
	function openFollowersBox(type){
		document.getElementById('followerBox').classList.add('active');
		if (type === 'follower'){
			getFollowerInfo('followers');
			$('.followerHeaderSpan').removeClass('active');
			$('.followerContentItem').removeClass('active');
			document.getElementById('followersContent').classList.add('active');
			$('.followersButton').addClass('active');
		}else{
			getFollowerInfo('following');
			$('.followerHeaderSpan').removeClass('active');
			$('.followerContentItem').removeClass('active');
			document.getElementById('followingsContent').classList.add('active');
			$('.followingsButton').addClass('active');
		}

	}
	$('.followerHeaderSpan').click(function (){
		if (this.classList.contains('active')){
			return false;
		}
		if (this.classList.contains('followingsButton')){
			getFollowerInfo('following');
		}else{
			getFollowerInfo('followers');
		}
		$('.followerHeaderSpan').removeClass('active');
		$('.followerContentItem').removeClass('active');

		this.classList.add('active');
		$("."+this.dataset.target).addClass('active');
	})
	function getFollowerInfo(type){
		if (type === 'followers'){
			if (document.getElementById('followersContent').innerHTML !== ''){
				return false;
			}
		}else{
			if (document.getElementById('followingsContent').innerHTML !== ''){
				return false;
			}
		}
		var xhr = new XMLHttpRequest(),
				url = '{{LINK aj/getFollowerList}}?hash=' + $('.main_session').val(),
				id = document.getElementById('followerBox').dataset.uid;

		xhr.open("post", url);
		xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		xhr.send("type=" + type + "&id=" + id);
		xhr.onload = function () {
			if (this.readyState === 4 && this.status === 200) {
				try {
					var res = this.responseText;
					res = this.responseText.substring(0, this.responseText.length-2);
					var response = JSON.parse(res);
					if (response['result'] === 'successful') {
						setFollowData(type,response['videos']);
					} else if (response['result'] === 'unsuccessful') {
						if (response['cus']) {
							if (response['cus'] === 'noVideos'){

							}
						} else {

						}
					} else {

					}
				} catch (e) {

				}
			} else {
			}
		}
	}
	function setFollowData(type,data){
		console.log('hey');
		if (type === 'followers'){
			document.getElementById('followersContent').innerHTML = data;
		}else {
			document.getElementById('followingsContent').innerHTML = data;
		}
	}
	$('.followerBoxBG').click(function (){
		document.getElementById('followerBox').classList.remove('active');
	})
    <?php if(isset($_GET['cat'])): ?>
    {
        let cid = '<?= $_GET['cat'] ?>';
        let cat_card = $(".channel-cats .card[data-id='"+cid+"']");
        $(cat_card).addClass('active');
        let parent_cid = $(cat_card).data('parent-id');
        $(".channel-cats .subc-"+parent_cid).removeClass('inactive');
    }
    <?php endif; ?>

	$(".mejs__qualities-selector-list-item").click(function (event){
		$(event).preventDefault();
		let Qs_src = $("#my-video_html5 source");
		$("#my-video_html5").attr('src', $(Qs_src[0]).attr("src"));
		// console.log($(this).attr('data-video'));
		// console.log($(this).attr('data-poster'));
		$("#my-video_html5").attr('poster', $(this).data('poster'));
		$("#my-video_html5")[0].load();
		$('#my-video_html5')[0].play();
	});
    $("a.open-video").click(function (e) {
        e.preventDefault();
        window.location.href = "{{CONFIG site_url}}/@{{USER username}}?vid="+$(this).parent().parent().data("id");
        return false;
        try {
            $("#my-video_html5").get(0).pause();
            let defQs = ["240p","360p","480p","720p"];
            var availableQs = []
			let Qs="";
			$.ajax({
				url: "{{CONFIG site_url}}/aj/get-video-qualities",
				data: {id: $(this).parent().parent().data("id")},
				method: "POST",
				dataType: "json",
				success: function (data) {
					Qs = JSON.parse(data.responseText.substr(0,data.responseText.length - 2));
				},
				error: function (data) {
					Qs = JSON.parse(data.responseText.substr(0,data.responseText.length - 2));
				}
			});

            let src = $(this).data('video');
            let extension = src.lastIndexOf(".");
			let src_1 = src.substr(0,extension);
			let src_2 = src.substr(extension,src.length);
            let Qs_src = [
				src_1+"_240p_converted"+src_2,
				src_1+"_360p_converted"+src_2,
				src_1+"_480p_converted"+src_2,
				src_1+"_720p_converted"+src_2
			];

			$('#my-video_html5')[0].play();
			$("#my-video_html5").attr('src', Qs_src[0]);
			// console.log($(this).attr('data-video'));
			// console.log($(this).attr('data-poster'));
			$("#my-video_html5").attr('poster', $(this).data('poster'));
			$("#my-video_html5")[0].load();
			$('#my-video_html5')[0].play();
            let srcs = $("#my-video_html5 source");
			let parent = $("#my-video_html5");
			$(parent).empty();
			for(let i = 0; i < defQs.length; i++){
				if(Qs[defQs[i]] == 0)
				{
					$("#mep_0-qualities-"+defQs[i]).parent().addClass("hidden");
					$(srcs[i]).remove();
				}
				else  {
					$("#mep_0-qualities-"+defQs[i]).parent().removeClass("hidden");
					let targetQ = defQs[i];
					if(true)
					{
						console.log(i);
						let string = '<source src="'+ Qs_src[i] +'" type="video/mp4" data-quality="'+ targetQ +'" title="'+ targetQ +'" label="'+ targetQ +'" res="'+ targetQ +'">';

						console.log(string);
						$(parent).append(string);
					}
					else {
						switch (targetQ){
							case defQs[0]:
								$(srcs[i]).attr('src',Qs_src[0]);
								break;
							case defQs[1]:
								$(srcs[i]).attr('src',Qs_src[1]);
								break;
							case defQs[2]:
								$(srcs[i]).attr('src',Qs_src[2]);
								break;
							case defQs[3]:
								$(srcs[i]).attr('src',Qs_src[3]);
								break;
						}
					}
				}
			}
            // for(let i = 0; i < srcs.length; i++){
			// 	let targetQ = $(srcs[i]).attr("label");
			// 	console.log(targetQ);
			// 	if(availableQs.includes(targetQ))
			// 		switch (targetQ){
			// 			case defQs[0]:
			// 				$(srcs[i]).attr('src',Qs_src[0]);
			// 				break;
			// 			case defQs[1]:
			// 				$(srcs[i]).attr('src',Qs_src[1]);
			// 				break;
			// 			case defQs[2]:
			// 				$(srcs[i]).attr('src',Qs_src[2]);
			// 				break;
			// 			case defQs[3]:
			// 				$(srcs[i]).attr('src',Qs_src[3]);
			// 				break;
			// 		}
			// 	else
			// 		$(srcs[i]).attr('src',Qs_src[0]);
			// }
            // $(".mejs__qualities-selector-list").find("li:last-of-type").click();
			$([document.documentElement, document.body]).animate({
				scrollTop: $(".video-player:eq(0)").offset().top
			}, 0);
        }catch (err){
            console.log(err);
		}
    });

	if('{{EMPTY_LIST}}' == true)
        $('.video-player-page').css('display', 'none');
	<?php if(!empty($_GET['cat'])) { ?>
		$(document).ready(function(){
			if($( window ).width() < 1000)
				$([document.documentElement, document.body]).animate({
						scrollTop: ($("#nav_main_header").offset().top)
				}, 0);
			else
				$([document.documentElement, document.body]).animate({
						scrollTop: ($(".videos-latest-list:eq(0)").offset().top + $(".videos-latest-list:eq(0)").height())
				}, 0);
		});
	<?php } ?>
	function openCatPanel(){
	$(".channel-cats").removeClass("closed");
	}
</script>